@import (reference) "../../../styles/utilities.less";
@import (reference) "../../../styles/mixins.less";

.btn-hover(@prop, @color)   { @{prop}: darken(@color, 10%); }

.btn { 
  .inline-flex;
  .items-center;
  .justify-center;
  .align-top;
  .h-input; 
  .px-button; 
  .font-body; 
  .text-input; 
  .border-box; 
  .border-0; 
  .bg-transparent; 
  .no-outline; 
  .cursor-pointer;
  .no-underline;
  
  &:disabled        { .bg-light; .text-secondary; .cursor-not-allowed; }
  &:disabled:hover  { .bg-light;  } 
}

.btn-link {
  .btn; 
  .text-primary; 
  .font-body; 
  .border-0;
  .bg-transparent; 
  .no-outline; 
  .cursor-pointer;

  &:hover { .btn-hover(color, @color-primary); }
}

.btn-inline {
  .text-primary; 
  .font-body; 
  .border-0; 
  .bg-transparent; 
  .no-outline; 
  .cursor-pointer;

  &:hover { .btn-hover(color, @color-primary); }
}

.btn-primary {
  .text-white; 
  .bg-primary; 
  .rounded;

  &:hover {.btn-hover(background-color, @color-primary);  }
}

.btn-danger {
  .text-white; 
  .bg-danger; 
  .rounded;

  &:hover { .btn-hover(background-color, @color-danger); }
}

.btn-outline-primary {
  .text-primary; 
  .border; 
  .border-solid; 
  .border-primary; 
  .rounded; 

  &:hover { .btn-hover(color, @color-primary); .btn-hover(border-color, @color-primary); background-color: rgba(@color-primary, 10%); }
}

.btn-outline-danger {
   .text-danger; 
   .border; 
   .border-solid; 
   .border-danger; 
   .rounded; 
   
   &:hover { .btn-hover(color, @color-danger); .btn-hover(border-color, @color-danger); background-color: rgba(@color-danger, 10%); }
}