 @import (reference) "../../../styles/utilities.less";

.progress-ring .progress-ring-background:global,
.progress-ring .progress-ring-foreground:global {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  fill: transparent;
}
.progress-ring .progress-ring-background:global {
  stroke: @color-light; 
}
.progress-ring .progress-ring-foreground:global {
  stroke: @color-primary;
}

.progress-ring .progress-label {
  .block;
  .relative;
  .text-center;
  .cursor-default;
  .font-body;
  .text-input;
  .text-body;
  z-index: 2;
}


.progress-ring-size(@width, @borderWidth) {
  &, & > svg {
    width: @width;
    height: @width;
  }
  .progress-label {
    width: @width;
    margin-top: -1 * @width;
    line-height: @width;
  }
}
.progress-ring {
  .progress-ring-size(120px, 4px);
}

.progress-ring-xs {
  .progress-ring-size(16px, 1px);
}
