@import (reference) "../../../styles/utilities.less";
@import (reference) "../../../styles/mixins.less";

@modal-width: 600px;

.modal {
  .fixed;
  .top-0;
  .right-0;
  .bottom-0;
  .left-0;
  .z-modal;
  .overflow-y-auto;
  .hidden;
  background: rgba(#000, 0.8);
  &.show { .block; }
}


.modal-dialog {
  .flex;
  .mx-auto;
  .items-center;
  .py-3;
  .min-h-full;
  transform: translate(0, 0);
  max-width: @modal-width;
}

.modal-content {
  .relative;
  .flex;
  .flex-col; 
  .w-full;
  .bg-white;
  .rounded;
}

.modal-header {
  .font-heading;
  .text-h3;
  .text-body;
  .px-3;
  .pt-2;
  .relative;
  .flex;
  .items-center;
  .rounded-t;
  h3 {
    .flex-grow;
    .m-0; 
  }
}

.modal-header-primary {
  .bg-primary;
  .text-white;
  .pb-2;
  .modal-close {
    .svg-color(#FFF);
  }
}

.modal-close {
  .border-0;
  .bg-transparent;
  .cursor-pointer;
  .no-outline;
  .flex-grow-0;
  .svg-color(@color-secondary);
}

.modal-body {
  .p-3;
}

.modal-footer {
  .flex;
  .flex-wrap;
  .items-center;
  .p-3;
  .bg-background;
  .rounded-b;
  .justify-end;
}
