@import (reference) "../../../styles/utilities.less";
@import (reference) "../../../styles/mixins.less";

.icon {
	display: inline-block;
	&, & svg {
		width: 16px;
		height: 16px;
		vertical-align: top;
	}
	&  						    { .svg-color(@color-body)}
	&.icon-muted 			{ .svg-color(@color-muted)}
	&.icon-primary 		{ .svg-color(@color-primary)}
	&.icon-white 			{ .svg-color(#FFF)}
	&.icon-body 			{ .svg-color(@color-body)}
	&.icon-background { .svg-color(@color-background)}
	&.icon-secondary	{ .svg-color(@color-secondary)}
	&.icon-danger 		{ .svg-color(@color-danger)} 
}

.icon-size(@value) {
  &, & svg {
    width: @value;
    height: @value;
  } 
}

.icon-xs  { .icon-size(@icon-xs); }
.icon-sm  { .icon-size(@icon-sm); }
.icon-md  { .icon-size(@icon-md); }
.icon-lg  { .icon-size(@icon-lg); }
.icon-xl  { .icon-size(@icon-xl); }
.icon-xxl { .icon-size(@icon-xxl); }
 