@import (reference) "../../../styles/utilities.less";
@import (reference) "../../../styles/mixins.less";

@tag-padding: 9px;
@tag-hover-padding: 3px;

.tag-hover() {
  .bg-primary;
  .text-white;

  .name {
    margin-right: (2 * @tag-padding - @tag-hover-padding);
    margin-left: @tag-hover-padding;
  }

  .remove {
    .inline;
    opacity: 1;
    margin-right: 1px;
    .svg-color(#FFF);
  }
}

.taginput-wrapper {
  .relative;

  .input-wrapper {
    .relative;
    .inline-block;
    .align-top;
  }

  [data-ui="DropdownMenu"] {
    top: 30px;
  }

  .input {
    .inline-block;
    vertical-align: super;
    .m-0;
    .cursor-pointer;
    .border-0;
    .bg-transparent;
    .text-base;
    outline: none;
    width: 100px;
    margin-bottom: 5px;
    padding-top: 3px;

    &::placeholder {
      .text-primary;
      opacity: 1;
    }

    &:focus,
    &:active {
      cursor: default;
    }
  }

  .tag {
    .inline-block;
    .relative;
    .bg-background;
    .font-body;
    .text-body;
    font-size: 12px;
    padding: 3px 0px;
    user-select: none;
    margin-right: 4px;
    transition: 0.1s margin ease-in-out;
    margin-bottom: 5px;
    border-radius: 2px;
    max-width: 100%;

    .name {
      .block;
      .truncate;
      .relative;
      margin-right: @tag-padding;
      margin-left: @tag-padding;
      transition: 0.1s margin ease-in-out;
      max-width: 100%;
    }

    .remove {
      .absolute;
      .bottom-0;
      .cursor-pointer;
      opacity: 0;
      top: 2px;
      right: 3px;
      width: 10px;
      padding: 7px 0 0 2px;
      transition: 0.1s opacity ease-in-out;
    }

    &.disabled {
      .bg-white;
      .cursor-not-allowed;
      .border;
      .border-solid;
      .border-light;
    }

    &.toggled,
    &:hover:not(.disabled) {
      .tag-hover();
    }
  }
}

@keyframes tag-spinner-anim {
  to {
    transform: rotate(360deg);
  }
}

.tag-spinner {
  height: 20px;
  padding: 10px 0;

  &:before {
    .absolute;
    content: '';
    box-sizing: border-box;
    // top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    // margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid @color-light;
    border-top-color: @color-primary;
    animation: tag-spinner-anim .6s linear infinite;
  }
}