// invoke with .responsive-xs({ rules... });

.responsive-xs(@rules) {
	@media screen and (max-width: (@screen-sm - 1px)) {
		@rules();
	}
}
.responsive-sm(@rules) {
	@media screen and (min-width: (@screen-sm)) {
		@rules();
	}
}
.responsive-md(@rules) {
	@media screen and (min-width: (@screen-md)) {
		@rules();
	}
}

.no-outline() {
	&:active,
  &:focus { outline: 0; }
}


.svg-color(@color) {
	svg,
	svg path,
	svg *
	{ fill: @color !important; }
}

.pos(@top, @right, @bottom, @left) {
	top: @top;
	right: @right;
	bottom: @bottom;
	left: @left;
}
.flex-center() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}