.appearance-none{
  appearance: none;
}

.bg-transparent{
  background-color: transparent;
}

.bg-primary{
  background-color: #218BCB;
}

.bg-primary-dark{
  background-color: #1478B4;
}

.bg-primary-light{
  background-color: #B6D5E9;
}

.bg-primary-extra-light{
  background-color: #DCF0FA;
}

.bg-secondary{
  background-color: #999999;
}

.bg-body{
  background-color: #444444;
}

.bg-background{
  background-color: #F4F4F4;
}

.bg-danger{
  background-color: #B62537;
}

.bg-danger-light{
  background-color: #F0D2D2;
}

.bg-danger-extra-light{
  background-color: #FAE6E6;
}

.bg-warning{
  background-color: #EDC250;
}

.bg-light{
  background-color: #E1E1E1;
}

.bg-muted{
  background-color: #D5D5D5;
}

.bg-white{
  background-color: #FFF;
}

.border-transparent{
  border-color: transparent;
}

.border-primary{
  border-color: #218BCB;
}

.border-primary-dark{
  border-color: #1478B4;
}

.border-primary-light{
  border-color: #B6D5E9;
}

.border-primary-extra-light{
  border-color: #DCF0FA;
}

.border-secondary{
  border-color: #999999;
}

.border-body{
  border-color: #444444;
}

.border-background{
  border-color: #F4F4F4;
}

.border-danger{
  border-color: #B62537;
}

.border-danger-light{
  border-color: #F0D2D2;
}

.border-danger-extra-light{
  border-color: #FAE6E6;
}

.border-warning{
  border-color: #EDC250;
}

.border-light{
  border-color: #E1E1E1;
}

.border-muted{
  border-color: #D5D5D5;
}

.border-white{
  border-color: #FFF;
}

.rounded-none{
  border-radius: 0;
}

.rounded-sm{
  border-radius: 2px;
}

.rounded{
  border-radius: 4px;
}

.rounded-lg{
  border-radius: 8px;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-t-none{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rounded-r-none{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-b-none{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded-l-none{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded-t-sm{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.rounded-r-sm{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.rounded-b-sm{
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.rounded-l-sm{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.rounded-t{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.rounded-r{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rounded-b{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rounded-l{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rounded-t-lg{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.rounded-r-lg{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rounded-b-lg{
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rounded-l-lg{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rounded-t-full{
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.rounded-r-full{
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.rounded-b-full{
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.rounded-l-full{
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.rounded-tl-none{
  border-top-left-radius: 0;
}

.rounded-tr-none{
  border-top-right-radius: 0;
}

.rounded-br-none{
  border-bottom-right-radius: 0;
}

.rounded-bl-none{
  border-bottom-left-radius: 0;
}

.rounded-tl-sm{
  border-top-left-radius: 2px;
}

.rounded-tr-sm{
  border-top-right-radius: 2px;
}

.rounded-br-sm{
  border-bottom-right-radius: 2px;
}

.rounded-bl-sm{
  border-bottom-left-radius: 2px;
}

.rounded-tl{
  border-top-left-radius: 4px;
}

.rounded-tr{
  border-top-right-radius: 4px;
}

.rounded-br{
  border-bottom-right-radius: 4px;
}

.rounded-bl{
  border-bottom-left-radius: 4px;
}

.rounded-tl-lg{
  border-top-left-radius: 8px;
}

.rounded-tr-lg{
  border-top-right-radius: 8px;
}

.rounded-br-lg{
  border-bottom-right-radius: 8px;
}

.rounded-bl-lg{
  border-bottom-left-radius: 8px;
}

.rounded-tl-full{
  border-top-left-radius: 9999px;
}

.rounded-tr-full{
  border-top-right-radius: 9999px;
}

.rounded-br-full{
  border-bottom-right-radius: 9999px;
}

.rounded-bl-full{
  border-bottom-left-radius: 9999px;
}

.border-solid{
  border-style: solid;
}

.border-dashed{
  border-style: dashed;
}

.border-dotted{
  border-style: dotted;
}

.border-double{
  border-style: double;
}

.border-none{
  border-style: none;
}

.border-0{
  border-width: 0;
}

.border{
  border-width: 1px;
}

.border-t-0{
  border-top-width: 0;
}

.border-r-0{
  border-right-width: 0;
}

.border-b-0{
  border-bottom-width: 0;
}

.border-l-0{
  border-left-width: 0;
}

.border-t{
  border-top-width: 1px;
}

.border-r{
  border-right-width: 1px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-l{
  border-left-width: 1px;
}

.cursor-auto{
  cursor: auto;
}

.cursor-default{
  cursor: default;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-wait{
  cursor: wait;
}

.cursor-text{
  cursor: text;
}

.cursor-move{
  cursor: move;
}

.cursor-not-allowed{
  cursor: not-allowed;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.table{
  display: table;
}

.table-row{
  display: table-row;
}

.table-cell{
  display: table-cell;
}

.hidden{
  display: none;
}

.flex-row{
  flex-direction: row;
}

.flex-row-reverse{
  flex-direction: row-reverse;
}

.flex-col{
  flex-direction: column;
}

.flex-col-reverse{
  flex-direction: column-reverse;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-wrap-reverse{
  flex-wrap: wrap-reverse;
}

.flex-no-wrap{
  flex-wrap: nowrap;
}

.items-start{
  align-items: flex-start;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.items-baseline{
  align-items: baseline;
}

.items-stretch{
  align-items: stretch;
}

.self-auto{
  align-self: auto;
}

.self-start{
  align-self: flex-start;
}

.self-end{
  align-self: flex-end;
}

.self-center{
  align-self: center;
}

.self-stretch{
  align-self: stretch;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.content-center{
  align-content: center;
}

.content-start{
  align-content: flex-start;
}

.content-end{
  align-content: flex-end;
}

.content-between{
  align-content: space-between;
}

.content-around{
  align-content: space-around;
}

.flex-1{
  flex: 1 1 0%;
}

.flex-auto{
  flex: 1 1 auto;
}

.flex-initial{
  flex: 0 1 auto;
}

.flex-none{
  flex: none;
}

.flex-grow-0{
  flex-grow: 0;
}

.flex-grow{
  flex-grow: 1;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.flex-shrink{
  flex-shrink: 1;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.float-none{
  float: none;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.font-body{
  font-family: sofia-pro, sans-serif;
}

.font-heading{
  font-family: "Roboto Slab", serif;
}

.font-light{
  font-weight: 300;
}

.font-normal{
  font-weight: 400;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.font-bold{
  font-weight: 700;
}

.h-0{
  height: 0;
}

.h-1{
  height: 8px;
}

.h-2{
  height: 16px;
}

.h-3{
  height: 24px;
}

.h-4{
  height: 32px;
}

.h-5{
  height: 48px;
}

.h-6{
  height: 64px;
}

.h-input{
  height: 42px;
}

.h-input-compact{
  height: 32px;
}

.h-auto{
  height: auto;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.leading-none{
  line-height: 1;
}

.leading-tight{
  line-height: 1.2;
}

.leading-snug{
  line-height: 1.3;
}

.leading-normal{
  line-height: 1.4;
}

.leading-relaxed{
  line-height: 1.625;
}

.leading-loose{
  line-height: 2;
}

.leading-input{
  line-height: 42px;
}

.leading-input-compact{
  line-height: 32px;
}

.m-0{
  margin: 0;
}

.m-1{
  margin: 8px;
}

.m-2{
  margin: 16px;
}

.m-3{
  margin: 24px;
}

.m-4{
  margin: 32px;
}

.m-5{
  margin: 48px;
}

.m-6{
  margin: 64px;
}

.-m-1{
  margin: -8px;
}

.-m-2{
  margin: -16px;
}

.-m-3{
  margin: -24px;
}

.-m-4{
  margin: -32px;
}

.-m-5{
  margin: -48px;
}

.-m-6{
  margin: -64px;
}

.m-auto{
  margin: auto;
}

.my-0{
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0{
  margin-left: 0;
  margin-right: 0;
}

.my-1{
  margin-top: 8px;
  margin-bottom: 8px;
}

.mx-1{
  margin-left: 8px;
  margin-right: 8px;
}

.my-2{
  margin-top: 16px;
  margin-bottom: 16px;
}

.mx-2{
  margin-left: 16px;
  margin-right: 16px;
}

.my-3{
  margin-top: 24px;
  margin-bottom: 24px;
}

.mx-3{
  margin-left: 24px;
  margin-right: 24px;
}

.my-4{
  margin-top: 32px;
  margin-bottom: 32px;
}

.mx-4{
  margin-left: 32px;
  margin-right: 32px;
}

.my-5{
  margin-top: 48px;
  margin-bottom: 48px;
}

.mx-5{
  margin-left: 48px;
  margin-right: 48px;
}

.my-6{
  margin-top: 64px;
  margin-bottom: 64px;
}

.mx-6{
  margin-left: 64px;
  margin-right: 64px;
}

.-my-1{
  margin-top: -8px;
  margin-bottom: -8px;
}

.-mx-1{
  margin-left: -8px;
  margin-right: -8px;
}

.-my-2{
  margin-top: -16px;
  margin-bottom: -16px;
}

.-mx-2{
  margin-left: -16px;
  margin-right: -16px;
}

.-my-3{
  margin-top: -24px;
  margin-bottom: -24px;
}

.-mx-3{
  margin-left: -24px;
  margin-right: -24px;
}

.-my-4{
  margin-top: -32px;
  margin-bottom: -32px;
}

.-mx-4{
  margin-left: -32px;
  margin-right: -32px;
}

.-my-5{
  margin-top: -48px;
  margin-bottom: -48px;
}

.-mx-5{
  margin-left: -48px;
  margin-right: -48px;
}

.-my-6{
  margin-top: -64px;
  margin-bottom: -64px;
}

.-mx-6{
  margin-left: -64px;
  margin-right: -64px;
}

.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mt-0{
  margin-top: 0;
}

.mr-0{
  margin-right: 0;
}

.mb-0{
  margin-bottom: 0;
}

.ml-0{
  margin-left: 0;
}

.mt-1{
  margin-top: 8px;
}

.mr-1{
  margin-right: 8px;
}

.mb-1{
  margin-bottom: 8px;
}

.ml-1{
  margin-left: 8px;
}

.mt-2{
  margin-top: 16px;
}

.mr-2{
  margin-right: 16px;
}

.mb-2{
  margin-bottom: 16px;
}

.ml-2{
  margin-left: 16px;
}

.mt-3{
  margin-top: 24px;
}

.mr-3{
  margin-right: 24px;
}

.mb-3{
  margin-bottom: 24px;
}

.ml-3{
  margin-left: 24px;
}

.mt-4{
  margin-top: 32px;
}

.mr-4{
  margin-right: 32px;
}

.mb-4{
  margin-bottom: 32px;
}

.ml-4{
  margin-left: 32px;
}

.mt-5{
  margin-top: 48px;
}

.mr-5{
  margin-right: 48px;
}

.mb-5{
  margin-bottom: 48px;
}

.ml-5{
  margin-left: 48px;
}

.mt-6{
  margin-top: 64px;
}

.mr-6{
  margin-right: 64px;
}

.mb-6{
  margin-bottom: 64px;
}

.ml-6{
  margin-left: 64px;
}

.-mt-1{
  margin-top: -8px;
}

.-mr-1{
  margin-right: -8px;
}

.-mb-1{
  margin-bottom: -8px;
}

.-ml-1{
  margin-left: -8px;
}

.-mt-2{
  margin-top: -16px;
}

.-mr-2{
  margin-right: -16px;
}

.-mb-2{
  margin-bottom: -16px;
}

.-ml-2{
  margin-left: -16px;
}

.-mt-3{
  margin-top: -24px;
}

.-mr-3{
  margin-right: -24px;
}

.-mb-3{
  margin-bottom: -24px;
}

.-ml-3{
  margin-left: -24px;
}

.-mt-4{
  margin-top: -32px;
}

.-mr-4{
  margin-right: -32px;
}

.-mb-4{
  margin-bottom: -32px;
}

.-ml-4{
  margin-left: -32px;
}

.-mt-5{
  margin-top: -48px;
}

.-mr-5{
  margin-right: -48px;
}

.-mb-5{
  margin-bottom: -48px;
}

.-ml-5{
  margin-left: -48px;
}

.-mt-6{
  margin-top: -64px;
}

.-mr-6{
  margin-right: -64px;
}

.-mb-6{
  margin-bottom: -64px;
}

.-ml-6{
  margin-left: -64px;
}

.mt-auto{
  margin-top: auto;
}

.mr-auto{
  margin-right: auto;
}

.mb-auto{
  margin-bottom: auto;
}

.ml-auto{
  margin-left: auto;
}

.max-w-auto{
  max-width: auto;
}

.max-w-full{
  max-width: 100%;
}

.min-h-0{
  min-height: 0;
}

.min-h-full{
  min-height: 100%;
}

.min-h-screen{
  min-height: 100vh;
}

.min-w-0{
  min-width: 0;
}

.min-w-btn{
  min-width: 120px;
}

.min-w-dropdown{
  min-width: 140px;
}

.min-w-auto{
  min-width: auto;
}

.opacity-0{
  opacity: 0;
}

.opacity-1{
  opacity: 1;
}

.outline-none{
  outline: 0;
}

.overflow-auto{
  overflow: auto;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-visible{
  overflow: visible;
}

.overflow-scroll{
  overflow: scroll;
}

.overflow-x-auto{
  overflow-x: auto;
}

.overflow-y-auto{
  overflow-y: auto;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.overflow-y-hidden{
  overflow-y: hidden;
}

.overflow-x-visible{
  overflow-x: visible;
}

.overflow-y-visible{
  overflow-y: visible;
}

.overflow-x-scroll{
  overflow-x: scroll;
}

.overflow-y-scroll{
  overflow-y: scroll;
}

.scrolling-touch{
  -webkit-overflow-scrolling: touch;
}

.scrolling-auto{
  -webkit-overflow-scrolling: auto;
}

.p-0{
  padding: 0;
}

.p-1{
  padding: 8px;
}

.p-2{
  padding: 16px;
}

.p-3{
  padding: 24px;
}

.p-4{
  padding: 32px;
}

.p-5{
  padding: 48px;
}

.p-6{
  padding: 64px;
}

.p-input{
  padding: 12px;
}

.p-input-compact{
  padding: 8px;
}

.p-button{
  padding: 24px;
}

.py-0{
  padding-top: 0;
  padding-bottom: 0;
}

.px-0{
  padding-left: 0;
  padding-right: 0;
}

.py-1{
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-1{
  padding-left: 8px;
  padding-right: 8px;
}

.py-2{
  padding-top: 16px;
  padding-bottom: 16px;
}

.px-2{
  padding-left: 16px;
  padding-right: 16px;
}

.py-3{
  padding-top: 24px;
  padding-bottom: 24px;
}

.px-3{
  padding-left: 24px;
  padding-right: 24px;
}

.py-4{
  padding-top: 32px;
  padding-bottom: 32px;
}

.px-4{
  padding-left: 32px;
  padding-right: 32px;
}

.py-5{
  padding-top: 48px;
  padding-bottom: 48px;
}

.px-5{
  padding-left: 48px;
  padding-right: 48px;
}

.py-6{
  padding-top: 64px;
  padding-bottom: 64px;
}

.px-6{
  padding-left: 64px;
  padding-right: 64px;
}

.py-input{
  padding-top: 12px;
  padding-bottom: 12px;
}

.px-input{
  padding-left: 12px;
  padding-right: 12px;
}

.py-input-compact{
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-input-compact{
  padding-left: 8px;
  padding-right: 8px;
}

.py-button{
  padding-top: 24px;
  padding-bottom: 24px;
}

.px-button{
  padding-left: 24px;
  padding-right: 24px;
}

.pt-0{
  padding-top: 0;
}

.pr-0{
  padding-right: 0;
}

.pb-0{
  padding-bottom: 0;
}

.pl-0{
  padding-left: 0;
}

.pt-1{
  padding-top: 8px;
}

.pr-1{
  padding-right: 8px;
}

.pb-1{
  padding-bottom: 8px;
}

.pl-1{
  padding-left: 8px;
}

.pt-2{
  padding-top: 16px;
}

.pr-2{
  padding-right: 16px;
}

.pb-2{
  padding-bottom: 16px;
}

.pl-2{
  padding-left: 16px;
}

.pt-3{
  padding-top: 24px;
}

.pr-3{
  padding-right: 24px;
}

.pb-3{
  padding-bottom: 24px;
}

.pl-3{
  padding-left: 24px;
}

.pt-4{
  padding-top: 32px;
}

.pr-4{
  padding-right: 32px;
}

.pb-4{
  padding-bottom: 32px;
}

.pl-4{
  padding-left: 32px;
}

.pt-5{
  padding-top: 48px;
}

.pr-5{
  padding-right: 48px;
}

.pb-5{
  padding-bottom: 48px;
}

.pl-5{
  padding-left: 48px;
}

.pt-6{
  padding-top: 64px;
}

.pr-6{
  padding-right: 64px;
}

.pb-6{
  padding-bottom: 64px;
}

.pl-6{
  padding-left: 64px;
}

.pt-input{
  padding-top: 12px;
}

.pr-input{
  padding-right: 12px;
}

.pb-input{
  padding-bottom: 12px;
}

.pl-input{
  padding-left: 12px;
}

.pt-input-compact{
  padding-top: 8px;
}

.pr-input-compact{
  padding-right: 8px;
}

.pb-input-compact{
  padding-bottom: 8px;
}

.pl-input-compact{
  padding-left: 8px;
}

.pt-button{
  padding-top: 24px;
}

.pr-button{
  padding-right: 24px;
}

.pb-button{
  padding-bottom: 24px;
}

.pl-button{
  padding-left: 24px;
}

.static{
  position: static;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.inset-0{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inset-auto{
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

.inset-y-0{
  top: 0;
  bottom: 0;
}

.inset-x-0{
  right: 0;
  left: 0;
}

.inset-y-auto{
  top: auto;
  bottom: auto;
}

.inset-x-auto{
  right: auto;
  left: auto;
}

.top-0{
  top: 0;
}

.right-0{
  right: 0;
}

.bottom-0{
  bottom: 0;
}

.left-0{
  left: 0;
}

.top-auto{
  top: auto;
}

.right-auto{
  right: auto;
}

.bottom-auto{
  bottom: auto;
}

.left-auto{
  left: auto;
}

.resize-none{
  resize: none;
}

.resize-y{
  resize: vertical;
}

.resize-x{
  resize: horizontal;
}

.resize{
  resize: both;
}

.shadow{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-sm{
  box-shadow: 1px 1px 2px rgba(166, 177, 198, 0.3);
}

.shadow-md{
  box-shadow: 3px 3px 4px rgba(166, 177, 198, 0.2);
}

.shadow-lg{
  box-shadow: 6px 6px 8px rgba(166, 177, 198, 0.3);
}

.shadow-none{
  box-shadow: none;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-justify{
  text-align: justify;
}

.text-transparent{
  color: transparent;
}

.text-primary{
  color: #218BCB;
}

.text-primary-dark{
  color: #1478B4;
}

.text-primary-light{
  color: #B6D5E9;
}

.text-primary-extra-light{
  color: #DCF0FA;
}

.text-secondary{
  color: #999999;
}

.text-body{
  color: #444444;
}

.text-background{
  color: #F4F4F4;
}

.text-danger{
  color: #B62537;
}

.text-danger-light{
  color: #F0D2D2;
}

.text-danger-extra-light{
  color: #FAE6E6;
}

.text-warning{
  color: #EDC250;
}

.text-light{
  color: #E1E1E1;
}

.text-muted{
  color: #D5D5D5;
}

.text-white{
  color: #FFF;
}

.text-base{
  font-size: 13px;
}

.text-input{
  font-size: 14px;
}

.text-h1{
  font-size: 44px;
}

.text-h2{
  font-size: 26px;
}

.text-h3{
  font-size: 20px;
}

.text-h4{
  font-size: 18px;
}

.text-h5{
  font-size: 14px;
}

.text-h6{
  font-size: 12px;
}

.italic{
  font-style: italic;
}

.not-italic{
  font-style: normal;
}

.uppercase{
  text-transform: uppercase;
}

.lowercase{
  text-transform: lowercase;
}

.capitalize{
  text-transform: capitalize;
}

.normal-case{
  text-transform: none;
}

.underline{
  text-decoration: underline;
}

.line-through{
  text-decoration: line-through;
}

.no-underline{
  text-decoration: none;
}

.antialiased{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased{
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.tracking-tighter{
  letter-spacing: -0.05em;
}

.tracking-tight{
  letter-spacing: -0.025em;
}

.tracking-normal{
  letter-spacing: 0;
}

.tracking-wide{
  letter-spacing: 0.025em;
}

.tracking-wider{
  letter-spacing: 0.05em;
}

.tracking-widest{
  letter-spacing: 0.1em;
}

.select-none{
  user-select: none;
}

.select-text{
  user-select: text;
}

.select-all{
  user-select: all;
}

.select-auto{
  user-select: auto;
}

.align-baseline{
  vertical-align: baseline;
}

.align-top{
  vertical-align: top;
}

.align-middle{
  vertical-align: middle;
}

.align-bottom{
  vertical-align: bottom;
}

.align-text-top{
  vertical-align: text-top;
}

.align-text-bottom{
  vertical-align: text-bottom;
}

.whitespace-normal{
  white-space: normal;
}

.whitespace-no-wrap{
  white-space: nowrap;
}

.whitespace-pre{
  white-space: pre;
}

.whitespace-pre-line{
  white-space: pre-line;
}

.whitespace-pre-wrap{
  white-space: pre-wrap;
}

.break-normal{
  overflow-wrap: normal;
  word-break: normal;
}

.break-words{
  overflow-wrap: break-word;
}

.break-all{
  word-break: break-all;
}

.truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-0{
  width: 0;
}

.w-1{
  width: 8px;
}

.w-2{
  width: 16px;
}

.w-3{
  width: 24px;
}

.w-4{
  width: 32px;
}

.w-5{
  width: 48px;
}

.w-6{
  width: 64px;
}

.w-auto{
  width: auto;
}

.w-1\/2{
  width: 50%;
}

.w-1\/3{
  width: 33.333333%;
}

.w-2\/3{
  width: 66.666667%;
}

.w-1\/4{
  width: 25%;
}

.w-2\/4{
  width: 50%;
}

.w-3\/4{
  width: 75%;
}

.w-1\/5{
  width: 20%;
}

.w-2\/5{
  width: 40%;
}

.w-3\/5{
  width: 60%;
}

.w-4\/5{
  width: 80%;
}

.w-1\/6{
  width: 16.666667%;
}

.w-2\/6{
  width: 33.333333%;
}

.w-3\/6{
  width: 50%;
}

.w-4\/6{
  width: 66.666667%;
}

.w-5\/6{
  width: 83.333333%;
}

.w-1\/12{
  width: 8.333333%;
}

.w-2\/12{
  width: 16.666667%;
}

.w-3\/12{
  width: 25%;
}

.w-4\/12{
  width: 33.333333%;
}

.w-5\/12{
  width: 41.666667%;
}

.w-6\/12{
  width: 50%;
}

.w-7\/12{
  width: 58.333333%;
}

.w-8\/12{
  width: 66.666667%;
}

.w-9\/12{
  width: 75%;
}

.w-10\/12{
  width: 83.333333%;
}

.w-11\/12{
  width: 91.666667%;
}

.w-full{
  width: 100%;
}

.w-screen{
  width: 100vw;
}

.z-dropdown{
  z-index: 1000;
}

.z-modal{
  z-index: 1050;
}

@color-primary:               #218BCB;

@color-primary-dark:          #1478B4;

@color-primary-light:         #B6D5E9;

@color-primary-extra-light:   #DCF0FA;

@color-danger:                #B62537;

@color-danger-light:          #F0D2D2;

@color-danger-extra-light:    #FAE6E6;

@color-secondary:    #999999;

@color-body:         #444444;

@color-background:   #F4F4F4;

@color-warning:      #EDC250;

@color-light:        #E1E1E1;

@color-muted:        #D5D5D5;

@screen-sm:          640px;

@screen-md:          768px;

@screen-lg:          1024px;

@screen-xl:          1280px;

@icon-xs:            8px;

@icon-sm:            16px;

@icon-md:            24px;

@icon-lg:            32px;

@icon-xl:            48px;

@icon-xxl:           64px;

@font-body:          sofia-pro, sans-serif;

@font-heading:       "Roboto Slab", serif;

@spacer-1:           8px;

@spacer-2:           16px;

@spacer-3:           24px;

@spacer-4:           32px;

@spacer-5:           48px;

@spacer-6:           64px;

@text-base:          13px;

@text-input:         14px;

@text-h1:            44px;

@text-h2:            26px;

@text-h3:            20px;

@text-h4:            18px;

@text-h5:            14px;

@text-h6:            12px;

@h-input:            42px;

@h-input-compact:    32px;

@p-input:            12px;

@p-input-compact:    8px;

.border-box          { box-sizing: border-box;
}

.align-sub           { vertical-align: sub;
}

.align-super         { vertical-align: super;
}

.border-x            { border-left-width: 1px; border-right-width: 1px;
}

.border-y            { border-top-width: 1px; border-bottom-width: 1px;
}

.border-x-0          { border-left-width: 0; border-right-width: 0;
}

.border-y-0          { border-top-width: 0; border-bottom-width: 0;
}

@media (min-width: 640px){
  .sm\:block{
    display: block;
  }

  .sm\:inline-block{
    display: inline-block;
  }

  .sm\:inline{
    display: inline;
  }

  .sm\:flex{
    display: flex;
  }

  .sm\:inline-flex{
    display: inline-flex;
  }

  .sm\:table{
    display: table;
  }

  .sm\:table-row{
    display: table-row;
  }

  .sm\:table-cell{
    display: table-cell;
  }

  .sm\:hidden{
    display: none;
  }

  .sm\:flex-row{
    flex-direction: row;
  }

  .sm\:flex-row-reverse{
    flex-direction: row-reverse;
  }

  .sm\:flex-col{
    flex-direction: column;
  }

  .sm\:flex-col-reverse{
    flex-direction: column-reverse;
  }

  .sm\:flex-wrap{
    flex-wrap: wrap;
  }

  .sm\:flex-wrap-reverse{
    flex-wrap: wrap-reverse;
  }

  .sm\:flex-no-wrap{
    flex-wrap: nowrap;
  }

  .sm\:items-start{
    align-items: flex-start;
  }

  .sm\:items-end{
    align-items: flex-end;
  }

  .sm\:items-center{
    align-items: center;
  }

  .sm\:items-baseline{
    align-items: baseline;
  }

  .sm\:items-stretch{
    align-items: stretch;
  }

  .sm\:self-auto{
    align-self: auto;
  }

  .sm\:self-start{
    align-self: flex-start;
  }

  .sm\:self-end{
    align-self: flex-end;
  }

  .sm\:self-center{
    align-self: center;
  }

  .sm\:self-stretch{
    align-self: stretch;
  }

  .sm\:justify-start{
    justify-content: flex-start;
  }

  .sm\:justify-end{
    justify-content: flex-end;
  }

  .sm\:justify-center{
    justify-content: center;
  }

  .sm\:justify-between{
    justify-content: space-between;
  }

  .sm\:justify-around{
    justify-content: space-around;
  }

  .sm\:content-center{
    align-content: center;
  }

  .sm\:content-start{
    align-content: flex-start;
  }

  .sm\:content-end{
    align-content: flex-end;
  }

  .sm\:content-between{
    align-content: space-between;
  }

  .sm\:content-around{
    align-content: space-around;
  }

  .sm\:flex-1{
    flex: 1 1 0%;
  }

  .sm\:flex-auto{
    flex: 1 1 auto;
  }

  .sm\:flex-initial{
    flex: 0 1 auto;
  }

  .sm\:flex-none{
    flex: none;
  }

  .sm\:flex-grow-0{
    flex-grow: 0;
  }

  .sm\:flex-grow{
    flex-grow: 1;
  }

  .sm\:flex-shrink-0{
    flex-shrink: 0;
  }

  .sm\:flex-shrink{
    flex-shrink: 1;
  }

  .sm\:float-right{
    float: right;
  }

  .sm\:float-left{
    float: left;
  }

  .sm\:float-none{
    float: none;
  }

  .sm\:clearfix:after{
    content: "";
    display: table;
    clear: both;
  }

  .sm\:h-0{
    height: 0;
  }

  .sm\:h-1{
    height: 8px;
  }

  .sm\:h-2{
    height: 16px;
  }

  .sm\:h-3{
    height: 24px;
  }

  .sm\:h-4{
    height: 32px;
  }

  .sm\:h-5{
    height: 48px;
  }

  .sm\:h-6{
    height: 64px;
  }

  .sm\:h-input{
    height: 42px;
  }

  .sm\:h-input-compact{
    height: 32px;
  }

  .sm\:h-auto{
    height: auto;
  }

  .sm\:h-full{
    height: 100%;
  }

  .sm\:h-screen{
    height: 100vh;
  }

  .sm\:m-0{
    margin: 0;
  }

  .sm\:m-1{
    margin: 8px;
  }

  .sm\:m-2{
    margin: 16px;
  }

  .sm\:m-3{
    margin: 24px;
  }

  .sm\:m-4{
    margin: 32px;
  }

  .sm\:m-5{
    margin: 48px;
  }

  .sm\:m-6{
    margin: 64px;
  }

  .sm\:-m-1{
    margin: -8px;
  }

  .sm\:-m-2{
    margin: -16px;
  }

  .sm\:-m-3{
    margin: -24px;
  }

  .sm\:-m-4{
    margin: -32px;
  }

  .sm\:-m-5{
    margin: -48px;
  }

  .sm\:-m-6{
    margin: -64px;
  }

  .sm\:m-auto{
    margin: auto;
  }

  .sm\:my-0{
    margin-top: 0;
    margin-bottom: 0;
  }

  .sm\:mx-0{
    margin-left: 0;
    margin-right: 0;
  }

  .sm\:my-1{
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .sm\:mx-1{
    margin-left: 8px;
    margin-right: 8px;
  }

  .sm\:my-2{
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .sm\:mx-2{
    margin-left: 16px;
    margin-right: 16px;
  }

  .sm\:my-3{
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .sm\:mx-3{
    margin-left: 24px;
    margin-right: 24px;
  }

  .sm\:my-4{
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .sm\:mx-4{
    margin-left: 32px;
    margin-right: 32px;
  }

  .sm\:my-5{
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .sm\:mx-5{
    margin-left: 48px;
    margin-right: 48px;
  }

  .sm\:my-6{
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .sm\:mx-6{
    margin-left: 64px;
    margin-right: 64px;
  }

  .sm\:-my-1{
    margin-top: -8px;
    margin-bottom: -8px;
  }

  .sm\:-mx-1{
    margin-left: -8px;
    margin-right: -8px;
  }

  .sm\:-my-2{
    margin-top: -16px;
    margin-bottom: -16px;
  }

  .sm\:-mx-2{
    margin-left: -16px;
    margin-right: -16px;
  }

  .sm\:-my-3{
    margin-top: -24px;
    margin-bottom: -24px;
  }

  .sm\:-mx-3{
    margin-left: -24px;
    margin-right: -24px;
  }

  .sm\:-my-4{
    margin-top: -32px;
    margin-bottom: -32px;
  }

  .sm\:-mx-4{
    margin-left: -32px;
    margin-right: -32px;
  }

  .sm\:-my-5{
    margin-top: -48px;
    margin-bottom: -48px;
  }

  .sm\:-mx-5{
    margin-left: -48px;
    margin-right: -48px;
  }

  .sm\:-my-6{
    margin-top: -64px;
    margin-bottom: -64px;
  }

  .sm\:-mx-6{
    margin-left: -64px;
    margin-right: -64px;
  }

  .sm\:my-auto{
    margin-top: auto;
    margin-bottom: auto;
  }

  .sm\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .sm\:mt-0{
    margin-top: 0;
  }

  .sm\:mr-0{
    margin-right: 0;
  }

  .sm\:mb-0{
    margin-bottom: 0;
  }

  .sm\:ml-0{
    margin-left: 0;
  }

  .sm\:mt-1{
    margin-top: 8px;
  }

  .sm\:mr-1{
    margin-right: 8px;
  }

  .sm\:mb-1{
    margin-bottom: 8px;
  }

  .sm\:ml-1{
    margin-left: 8px;
  }

  .sm\:mt-2{
    margin-top: 16px;
  }

  .sm\:mr-2{
    margin-right: 16px;
  }

  .sm\:mb-2{
    margin-bottom: 16px;
  }

  .sm\:ml-2{
    margin-left: 16px;
  }

  .sm\:mt-3{
    margin-top: 24px;
  }

  .sm\:mr-3{
    margin-right: 24px;
  }

  .sm\:mb-3{
    margin-bottom: 24px;
  }

  .sm\:ml-3{
    margin-left: 24px;
  }

  .sm\:mt-4{
    margin-top: 32px;
  }

  .sm\:mr-4{
    margin-right: 32px;
  }

  .sm\:mb-4{
    margin-bottom: 32px;
  }

  .sm\:ml-4{
    margin-left: 32px;
  }

  .sm\:mt-5{
    margin-top: 48px;
  }

  .sm\:mr-5{
    margin-right: 48px;
  }

  .sm\:mb-5{
    margin-bottom: 48px;
  }

  .sm\:ml-5{
    margin-left: 48px;
  }

  .sm\:mt-6{
    margin-top: 64px;
  }

  .sm\:mr-6{
    margin-right: 64px;
  }

  .sm\:mb-6{
    margin-bottom: 64px;
  }

  .sm\:ml-6{
    margin-left: 64px;
  }

  .sm\:-mt-1{
    margin-top: -8px;
  }

  .sm\:-mr-1{
    margin-right: -8px;
  }

  .sm\:-mb-1{
    margin-bottom: -8px;
  }

  .sm\:-ml-1{
    margin-left: -8px;
  }

  .sm\:-mt-2{
    margin-top: -16px;
  }

  .sm\:-mr-2{
    margin-right: -16px;
  }

  .sm\:-mb-2{
    margin-bottom: -16px;
  }

  .sm\:-ml-2{
    margin-left: -16px;
  }

  .sm\:-mt-3{
    margin-top: -24px;
  }

  .sm\:-mr-3{
    margin-right: -24px;
  }

  .sm\:-mb-3{
    margin-bottom: -24px;
  }

  .sm\:-ml-3{
    margin-left: -24px;
  }

  .sm\:-mt-4{
    margin-top: -32px;
  }

  .sm\:-mr-4{
    margin-right: -32px;
  }

  .sm\:-mb-4{
    margin-bottom: -32px;
  }

  .sm\:-ml-4{
    margin-left: -32px;
  }

  .sm\:-mt-5{
    margin-top: -48px;
  }

  .sm\:-mr-5{
    margin-right: -48px;
  }

  .sm\:-mb-5{
    margin-bottom: -48px;
  }

  .sm\:-ml-5{
    margin-left: -48px;
  }

  .sm\:-mt-6{
    margin-top: -64px;
  }

  .sm\:-mr-6{
    margin-right: -64px;
  }

  .sm\:-mb-6{
    margin-bottom: -64px;
  }

  .sm\:-ml-6{
    margin-left: -64px;
  }

  .sm\:mt-auto{
    margin-top: auto;
  }

  .sm\:mr-auto{
    margin-right: auto;
  }

  .sm\:mb-auto{
    margin-bottom: auto;
  }

  .sm\:ml-auto{
    margin-left: auto;
  }

  .sm\:min-h-0{
    min-height: 0;
  }

  .sm\:min-h-full{
    min-height: 100%;
  }

  .sm\:min-h-screen{
    min-height: 100vh;
  }

  .sm\:min-w-0{
    min-width: 0;
  }

  .sm\:min-w-btn{
    min-width: 120px;
  }

  .sm\:min-w-dropdown{
    min-width: 140px;
  }

  .sm\:min-w-auto{
    min-width: auto;
  }

  .sm\:p-0{
    padding: 0;
  }

  .sm\:p-1{
    padding: 8px;
  }

  .sm\:p-2{
    padding: 16px;
  }

  .sm\:p-3{
    padding: 24px;
  }

  .sm\:p-4{
    padding: 32px;
  }

  .sm\:p-5{
    padding: 48px;
  }

  .sm\:p-6{
    padding: 64px;
  }

  .sm\:p-input{
    padding: 12px;
  }

  .sm\:p-input-compact{
    padding: 8px;
  }

  .sm\:p-button{
    padding: 24px;
  }

  .sm\:py-0{
    padding-top: 0;
    padding-bottom: 0;
  }

  .sm\:px-0{
    padding-left: 0;
    padding-right: 0;
  }

  .sm\:py-1{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .sm\:px-1{
    padding-left: 8px;
    padding-right: 8px;
  }

  .sm\:py-2{
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .sm\:px-2{
    padding-left: 16px;
    padding-right: 16px;
  }

  .sm\:py-3{
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .sm\:px-3{
    padding-left: 24px;
    padding-right: 24px;
  }

  .sm\:py-4{
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .sm\:px-4{
    padding-left: 32px;
    padding-right: 32px;
  }

  .sm\:py-5{
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .sm\:px-5{
    padding-left: 48px;
    padding-right: 48px;
  }

  .sm\:py-6{
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .sm\:px-6{
    padding-left: 64px;
    padding-right: 64px;
  }

  .sm\:py-input{
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .sm\:px-input{
    padding-left: 12px;
    padding-right: 12px;
  }

  .sm\:py-input-compact{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .sm\:px-input-compact{
    padding-left: 8px;
    padding-right: 8px;
  }

  .sm\:py-button{
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .sm\:px-button{
    padding-left: 24px;
    padding-right: 24px;
  }

  .sm\:pt-0{
    padding-top: 0;
  }

  .sm\:pr-0{
    padding-right: 0;
  }

  .sm\:pb-0{
    padding-bottom: 0;
  }

  .sm\:pl-0{
    padding-left: 0;
  }

  .sm\:pt-1{
    padding-top: 8px;
  }

  .sm\:pr-1{
    padding-right: 8px;
  }

  .sm\:pb-1{
    padding-bottom: 8px;
  }

  .sm\:pl-1{
    padding-left: 8px;
  }

  .sm\:pt-2{
    padding-top: 16px;
  }

  .sm\:pr-2{
    padding-right: 16px;
  }

  .sm\:pb-2{
    padding-bottom: 16px;
  }

  .sm\:pl-2{
    padding-left: 16px;
  }

  .sm\:pt-3{
    padding-top: 24px;
  }

  .sm\:pr-3{
    padding-right: 24px;
  }

  .sm\:pb-3{
    padding-bottom: 24px;
  }

  .sm\:pl-3{
    padding-left: 24px;
  }

  .sm\:pt-4{
    padding-top: 32px;
  }

  .sm\:pr-4{
    padding-right: 32px;
  }

  .sm\:pb-4{
    padding-bottom: 32px;
  }

  .sm\:pl-4{
    padding-left: 32px;
  }

  .sm\:pt-5{
    padding-top: 48px;
  }

  .sm\:pr-5{
    padding-right: 48px;
  }

  .sm\:pb-5{
    padding-bottom: 48px;
  }

  .sm\:pl-5{
    padding-left: 48px;
  }

  .sm\:pt-6{
    padding-top: 64px;
  }

  .sm\:pr-6{
    padding-right: 64px;
  }

  .sm\:pb-6{
    padding-bottom: 64px;
  }

  .sm\:pl-6{
    padding-left: 64px;
  }

  .sm\:pt-input{
    padding-top: 12px;
  }

  .sm\:pr-input{
    padding-right: 12px;
  }

  .sm\:pb-input{
    padding-bottom: 12px;
  }

  .sm\:pl-input{
    padding-left: 12px;
  }

  .sm\:pt-input-compact{
    padding-top: 8px;
  }

  .sm\:pr-input-compact{
    padding-right: 8px;
  }

  .sm\:pb-input-compact{
    padding-bottom: 8px;
  }

  .sm\:pl-input-compact{
    padding-left: 8px;
  }

  .sm\:pt-button{
    padding-top: 24px;
  }

  .sm\:pr-button{
    padding-right: 24px;
  }

  .sm\:pb-button{
    padding-bottom: 24px;
  }

  .sm\:pl-button{
    padding-left: 24px;
  }

  .sm\:static{
    position: static;
  }

  .sm\:fixed{
    position: fixed;
  }

  .sm\:absolute{
    position: absolute;
  }

  .sm\:relative{
    position: relative;
  }

  .sm\:sticky{
    position: sticky;
  }

  .sm\:inset-0{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .sm\:inset-auto{
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  .sm\:inset-y-0{
    top: 0;
    bottom: 0;
  }

  .sm\:inset-x-0{
    right: 0;
    left: 0;
  }

  .sm\:inset-y-auto{
    top: auto;
    bottom: auto;
  }

  .sm\:inset-x-auto{
    right: auto;
    left: auto;
  }

  .sm\:top-0{
    top: 0;
  }

  .sm\:right-0{
    right: 0;
  }

  .sm\:bottom-0{
    bottom: 0;
  }

  .sm\:left-0{
    left: 0;
  }

  .sm\:top-auto{
    top: auto;
  }

  .sm\:right-auto{
    right: auto;
  }

  .sm\:bottom-auto{
    bottom: auto;
  }

  .sm\:left-auto{
    left: auto;
  }

  .sm\:text-left{
    text-align: left;
  }

  .sm\:text-center{
    text-align: center;
  }

  .sm\:text-right{
    text-align: right;
  }

  .sm\:text-justify{
    text-align: justify;
  }

  .sm\:w-0{
    width: 0;
  }

  .sm\:w-1{
    width: 8px;
  }

  .sm\:w-2{
    width: 16px;
  }

  .sm\:w-3{
    width: 24px;
  }

  .sm\:w-4{
    width: 32px;
  }

  .sm\:w-5{
    width: 48px;
  }

  .sm\:w-6{
    width: 64px;
  }

  .sm\:w-auto{
    width: auto;
  }

  .sm\:w-1\/2{
    width: 50%;
  }

  .sm\:w-1\/3{
    width: 33.333333%;
  }

  .sm\:w-2\/3{
    width: 66.666667%;
  }

  .sm\:w-1\/4{
    width: 25%;
  }

  .sm\:w-2\/4{
    width: 50%;
  }

  .sm\:w-3\/4{
    width: 75%;
  }

  .sm\:w-1\/5{
    width: 20%;
  }

  .sm\:w-2\/5{
    width: 40%;
  }

  .sm\:w-3\/5{
    width: 60%;
  }

  .sm\:w-4\/5{
    width: 80%;
  }

  .sm\:w-1\/6{
    width: 16.666667%;
  }

  .sm\:w-2\/6{
    width: 33.333333%;
  }

  .sm\:w-3\/6{
    width: 50%;
  }

  .sm\:w-4\/6{
    width: 66.666667%;
  }

  .sm\:w-5\/6{
    width: 83.333333%;
  }

  .sm\:w-1\/12{
    width: 8.333333%;
  }

  .sm\:w-2\/12{
    width: 16.666667%;
  }

  .sm\:w-3\/12{
    width: 25%;
  }

  .sm\:w-4\/12{
    width: 33.333333%;
  }

  .sm\:w-5\/12{
    width: 41.666667%;
  }

  .sm\:w-6\/12{
    width: 50%;
  }

  .sm\:w-7\/12{
    width: 58.333333%;
  }

  .sm\:w-8\/12{
    width: 66.666667%;
  }

  .sm\:w-9\/12{
    width: 75%;
  }

  .sm\:w-10\/12{
    width: 83.333333%;
  }

  .sm\:w-11\/12{
    width: 91.666667%;
  }

  .sm\:w-full{
    width: 100%;
  }

  .sm\:w-screen{
    width: 100vw;
  }
}

@media (min-width: 768px){
  .md\:block{
    display: block;
  }

  .md\:inline-block{
    display: inline-block;
  }

  .md\:inline{
    display: inline;
  }

  .md\:flex{
    display: flex;
  }

  .md\:inline-flex{
    display: inline-flex;
  }

  .md\:table{
    display: table;
  }

  .md\:table-row{
    display: table-row;
  }

  .md\:table-cell{
    display: table-cell;
  }

  .md\:hidden{
    display: none;
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:flex-row-reverse{
    flex-direction: row-reverse;
  }

  .md\:flex-col{
    flex-direction: column;
  }

  .md\:flex-col-reverse{
    flex-direction: column-reverse;
  }

  .md\:flex-wrap{
    flex-wrap: wrap;
  }

  .md\:flex-wrap-reverse{
    flex-wrap: wrap-reverse;
  }

  .md\:flex-no-wrap{
    flex-wrap: nowrap;
  }

  .md\:items-start{
    align-items: flex-start;
  }

  .md\:items-end{
    align-items: flex-end;
  }

  .md\:items-center{
    align-items: center;
  }

  .md\:items-baseline{
    align-items: baseline;
  }

  .md\:items-stretch{
    align-items: stretch;
  }

  .md\:self-auto{
    align-self: auto;
  }

  .md\:self-start{
    align-self: flex-start;
  }

  .md\:self-end{
    align-self: flex-end;
  }

  .md\:self-center{
    align-self: center;
  }

  .md\:self-stretch{
    align-self: stretch;
  }

  .md\:justify-start{
    justify-content: flex-start;
  }

  .md\:justify-end{
    justify-content: flex-end;
  }

  .md\:justify-center{
    justify-content: center;
  }

  .md\:justify-between{
    justify-content: space-between;
  }

  .md\:justify-around{
    justify-content: space-around;
  }

  .md\:content-center{
    align-content: center;
  }

  .md\:content-start{
    align-content: flex-start;
  }

  .md\:content-end{
    align-content: flex-end;
  }

  .md\:content-between{
    align-content: space-between;
  }

  .md\:content-around{
    align-content: space-around;
  }

  .md\:flex-1{
    flex: 1 1 0%;
  }

  .md\:flex-auto{
    flex: 1 1 auto;
  }

  .md\:flex-initial{
    flex: 0 1 auto;
  }

  .md\:flex-none{
    flex: none;
  }

  .md\:flex-grow-0{
    flex-grow: 0;
  }

  .md\:flex-grow{
    flex-grow: 1;
  }

  .md\:flex-shrink-0{
    flex-shrink: 0;
  }

  .md\:flex-shrink{
    flex-shrink: 1;
  }

  .md\:float-right{
    float: right;
  }

  .md\:float-left{
    float: left;
  }

  .md\:float-none{
    float: none;
  }

  .md\:clearfix:after{
    content: "";
    display: table;
    clear: both;
  }

  .md\:h-0{
    height: 0;
  }

  .md\:h-1{
    height: 8px;
  }

  .md\:h-2{
    height: 16px;
  }

  .md\:h-3{
    height: 24px;
  }

  .md\:h-4{
    height: 32px;
  }

  .md\:h-5{
    height: 48px;
  }

  .md\:h-6{
    height: 64px;
  }

  .md\:h-input{
    height: 42px;
  }

  .md\:h-input-compact{
    height: 32px;
  }

  .md\:h-auto{
    height: auto;
  }

  .md\:h-full{
    height: 100%;
  }

  .md\:h-screen{
    height: 100vh;
  }

  .md\:m-0{
    margin: 0;
  }

  .md\:m-1{
    margin: 8px;
  }

  .md\:m-2{
    margin: 16px;
  }

  .md\:m-3{
    margin: 24px;
  }

  .md\:m-4{
    margin: 32px;
  }

  .md\:m-5{
    margin: 48px;
  }

  .md\:m-6{
    margin: 64px;
  }

  .md\:-m-1{
    margin: -8px;
  }

  .md\:-m-2{
    margin: -16px;
  }

  .md\:-m-3{
    margin: -24px;
  }

  .md\:-m-4{
    margin: -32px;
  }

  .md\:-m-5{
    margin: -48px;
  }

  .md\:-m-6{
    margin: -64px;
  }

  .md\:m-auto{
    margin: auto;
  }

  .md\:my-0{
    margin-top: 0;
    margin-bottom: 0;
  }

  .md\:mx-0{
    margin-left: 0;
    margin-right: 0;
  }

  .md\:my-1{
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .md\:mx-1{
    margin-left: 8px;
    margin-right: 8px;
  }

  .md\:my-2{
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .md\:mx-2{
    margin-left: 16px;
    margin-right: 16px;
  }

  .md\:my-3{
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .md\:mx-3{
    margin-left: 24px;
    margin-right: 24px;
  }

  .md\:my-4{
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .md\:mx-4{
    margin-left: 32px;
    margin-right: 32px;
  }

  .md\:my-5{
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .md\:mx-5{
    margin-left: 48px;
    margin-right: 48px;
  }

  .md\:my-6{
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .md\:mx-6{
    margin-left: 64px;
    margin-right: 64px;
  }

  .md\:-my-1{
    margin-top: -8px;
    margin-bottom: -8px;
  }

  .md\:-mx-1{
    margin-left: -8px;
    margin-right: -8px;
  }

  .md\:-my-2{
    margin-top: -16px;
    margin-bottom: -16px;
  }

  .md\:-mx-2{
    margin-left: -16px;
    margin-right: -16px;
  }

  .md\:-my-3{
    margin-top: -24px;
    margin-bottom: -24px;
  }

  .md\:-mx-3{
    margin-left: -24px;
    margin-right: -24px;
  }

  .md\:-my-4{
    margin-top: -32px;
    margin-bottom: -32px;
  }

  .md\:-mx-4{
    margin-left: -32px;
    margin-right: -32px;
  }

  .md\:-my-5{
    margin-top: -48px;
    margin-bottom: -48px;
  }

  .md\:-mx-5{
    margin-left: -48px;
    margin-right: -48px;
  }

  .md\:-my-6{
    margin-top: -64px;
    margin-bottom: -64px;
  }

  .md\:-mx-6{
    margin-left: -64px;
    margin-right: -64px;
  }

  .md\:my-auto{
    margin-top: auto;
    margin-bottom: auto;
  }

  .md\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .md\:mt-0{
    margin-top: 0;
  }

  .md\:mr-0{
    margin-right: 0;
  }

  .md\:mb-0{
    margin-bottom: 0;
  }

  .md\:ml-0{
    margin-left: 0;
  }

  .md\:mt-1{
    margin-top: 8px;
  }

  .md\:mr-1{
    margin-right: 8px;
  }

  .md\:mb-1{
    margin-bottom: 8px;
  }

  .md\:ml-1{
    margin-left: 8px;
  }

  .md\:mt-2{
    margin-top: 16px;
  }

  .md\:mr-2{
    margin-right: 16px;
  }

  .md\:mb-2{
    margin-bottom: 16px;
  }

  .md\:ml-2{
    margin-left: 16px;
  }

  .md\:mt-3{
    margin-top: 24px;
  }

  .md\:mr-3{
    margin-right: 24px;
  }

  .md\:mb-3{
    margin-bottom: 24px;
  }

  .md\:ml-3{
    margin-left: 24px;
  }

  .md\:mt-4{
    margin-top: 32px;
  }

  .md\:mr-4{
    margin-right: 32px;
  }

  .md\:mb-4{
    margin-bottom: 32px;
  }

  .md\:ml-4{
    margin-left: 32px;
  }

  .md\:mt-5{
    margin-top: 48px;
  }

  .md\:mr-5{
    margin-right: 48px;
  }

  .md\:mb-5{
    margin-bottom: 48px;
  }

  .md\:ml-5{
    margin-left: 48px;
  }

  .md\:mt-6{
    margin-top: 64px;
  }

  .md\:mr-6{
    margin-right: 64px;
  }

  .md\:mb-6{
    margin-bottom: 64px;
  }

  .md\:ml-6{
    margin-left: 64px;
  }

  .md\:-mt-1{
    margin-top: -8px;
  }

  .md\:-mr-1{
    margin-right: -8px;
  }

  .md\:-mb-1{
    margin-bottom: -8px;
  }

  .md\:-ml-1{
    margin-left: -8px;
  }

  .md\:-mt-2{
    margin-top: -16px;
  }

  .md\:-mr-2{
    margin-right: -16px;
  }

  .md\:-mb-2{
    margin-bottom: -16px;
  }

  .md\:-ml-2{
    margin-left: -16px;
  }

  .md\:-mt-3{
    margin-top: -24px;
  }

  .md\:-mr-3{
    margin-right: -24px;
  }

  .md\:-mb-3{
    margin-bottom: -24px;
  }

  .md\:-ml-3{
    margin-left: -24px;
  }

  .md\:-mt-4{
    margin-top: -32px;
  }

  .md\:-mr-4{
    margin-right: -32px;
  }

  .md\:-mb-4{
    margin-bottom: -32px;
  }

  .md\:-ml-4{
    margin-left: -32px;
  }

  .md\:-mt-5{
    margin-top: -48px;
  }

  .md\:-mr-5{
    margin-right: -48px;
  }

  .md\:-mb-5{
    margin-bottom: -48px;
  }

  .md\:-ml-5{
    margin-left: -48px;
  }

  .md\:-mt-6{
    margin-top: -64px;
  }

  .md\:-mr-6{
    margin-right: -64px;
  }

  .md\:-mb-6{
    margin-bottom: -64px;
  }

  .md\:-ml-6{
    margin-left: -64px;
  }

  .md\:mt-auto{
    margin-top: auto;
  }

  .md\:mr-auto{
    margin-right: auto;
  }

  .md\:mb-auto{
    margin-bottom: auto;
  }

  .md\:ml-auto{
    margin-left: auto;
  }

  .md\:min-h-0{
    min-height: 0;
  }

  .md\:min-h-full{
    min-height: 100%;
  }

  .md\:min-h-screen{
    min-height: 100vh;
  }

  .md\:min-w-0{
    min-width: 0;
  }

  .md\:min-w-btn{
    min-width: 120px;
  }

  .md\:min-w-dropdown{
    min-width: 140px;
  }

  .md\:min-w-auto{
    min-width: auto;
  }

  .md\:p-0{
    padding: 0;
  }

  .md\:p-1{
    padding: 8px;
  }

  .md\:p-2{
    padding: 16px;
  }

  .md\:p-3{
    padding: 24px;
  }

  .md\:p-4{
    padding: 32px;
  }

  .md\:p-5{
    padding: 48px;
  }

  .md\:p-6{
    padding: 64px;
  }

  .md\:p-input{
    padding: 12px;
  }

  .md\:p-input-compact{
    padding: 8px;
  }

  .md\:p-button{
    padding: 24px;
  }

  .md\:py-0{
    padding-top: 0;
    padding-bottom: 0;
  }

  .md\:px-0{
    padding-left: 0;
    padding-right: 0;
  }

  .md\:py-1{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .md\:px-1{
    padding-left: 8px;
    padding-right: 8px;
  }

  .md\:py-2{
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .md\:px-2{
    padding-left: 16px;
    padding-right: 16px;
  }

  .md\:py-3{
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .md\:px-3{
    padding-left: 24px;
    padding-right: 24px;
  }

  .md\:py-4{
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .md\:px-4{
    padding-left: 32px;
    padding-right: 32px;
  }

  .md\:py-5{
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .md\:px-5{
    padding-left: 48px;
    padding-right: 48px;
  }

  .md\:py-6{
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .md\:px-6{
    padding-left: 64px;
    padding-right: 64px;
  }

  .md\:py-input{
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .md\:px-input{
    padding-left: 12px;
    padding-right: 12px;
  }

  .md\:py-input-compact{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .md\:px-input-compact{
    padding-left: 8px;
    padding-right: 8px;
  }

  .md\:py-button{
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .md\:px-button{
    padding-left: 24px;
    padding-right: 24px;
  }

  .md\:pt-0{
    padding-top: 0;
  }

  .md\:pr-0{
    padding-right: 0;
  }

  .md\:pb-0{
    padding-bottom: 0;
  }

  .md\:pl-0{
    padding-left: 0;
  }

  .md\:pt-1{
    padding-top: 8px;
  }

  .md\:pr-1{
    padding-right: 8px;
  }

  .md\:pb-1{
    padding-bottom: 8px;
  }

  .md\:pl-1{
    padding-left: 8px;
  }

  .md\:pt-2{
    padding-top: 16px;
  }

  .md\:pr-2{
    padding-right: 16px;
  }

  .md\:pb-2{
    padding-bottom: 16px;
  }

  .md\:pl-2{
    padding-left: 16px;
  }

  .md\:pt-3{
    padding-top: 24px;
  }

  .md\:pr-3{
    padding-right: 24px;
  }

  .md\:pb-3{
    padding-bottom: 24px;
  }

  .md\:pl-3{
    padding-left: 24px;
  }

  .md\:pt-4{
    padding-top: 32px;
  }

  .md\:pr-4{
    padding-right: 32px;
  }

  .md\:pb-4{
    padding-bottom: 32px;
  }

  .md\:pl-4{
    padding-left: 32px;
  }

  .md\:pt-5{
    padding-top: 48px;
  }

  .md\:pr-5{
    padding-right: 48px;
  }

  .md\:pb-5{
    padding-bottom: 48px;
  }

  .md\:pl-5{
    padding-left: 48px;
  }

  .md\:pt-6{
    padding-top: 64px;
  }

  .md\:pr-6{
    padding-right: 64px;
  }

  .md\:pb-6{
    padding-bottom: 64px;
  }

  .md\:pl-6{
    padding-left: 64px;
  }

  .md\:pt-input{
    padding-top: 12px;
  }

  .md\:pr-input{
    padding-right: 12px;
  }

  .md\:pb-input{
    padding-bottom: 12px;
  }

  .md\:pl-input{
    padding-left: 12px;
  }

  .md\:pt-input-compact{
    padding-top: 8px;
  }

  .md\:pr-input-compact{
    padding-right: 8px;
  }

  .md\:pb-input-compact{
    padding-bottom: 8px;
  }

  .md\:pl-input-compact{
    padding-left: 8px;
  }

  .md\:pt-button{
    padding-top: 24px;
  }

  .md\:pr-button{
    padding-right: 24px;
  }

  .md\:pb-button{
    padding-bottom: 24px;
  }

  .md\:pl-button{
    padding-left: 24px;
  }

  .md\:static{
    position: static;
  }

  .md\:fixed{
    position: fixed;
  }

  .md\:absolute{
    position: absolute;
  }

  .md\:relative{
    position: relative;
  }

  .md\:sticky{
    position: sticky;
  }

  .md\:inset-0{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .md\:inset-auto{
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  .md\:inset-y-0{
    top: 0;
    bottom: 0;
  }

  .md\:inset-x-0{
    right: 0;
    left: 0;
  }

  .md\:inset-y-auto{
    top: auto;
    bottom: auto;
  }

  .md\:inset-x-auto{
    right: auto;
    left: auto;
  }

  .md\:top-0{
    top: 0;
  }

  .md\:right-0{
    right: 0;
  }

  .md\:bottom-0{
    bottom: 0;
  }

  .md\:left-0{
    left: 0;
  }

  .md\:top-auto{
    top: auto;
  }

  .md\:right-auto{
    right: auto;
  }

  .md\:bottom-auto{
    bottom: auto;
  }

  .md\:left-auto{
    left: auto;
  }

  .md\:text-left{
    text-align: left;
  }

  .md\:text-center{
    text-align: center;
  }

  .md\:text-right{
    text-align: right;
  }

  .md\:text-justify{
    text-align: justify;
  }

  .md\:w-0{
    width: 0;
  }

  .md\:w-1{
    width: 8px;
  }

  .md\:w-2{
    width: 16px;
  }

  .md\:w-3{
    width: 24px;
  }

  .md\:w-4{
    width: 32px;
  }

  .md\:w-5{
    width: 48px;
  }

  .md\:w-6{
    width: 64px;
  }

  .md\:w-auto{
    width: auto;
  }

  .md\:w-1\/2{
    width: 50%;
  }

  .md\:w-1\/3{
    width: 33.333333%;
  }

  .md\:w-2\/3{
    width: 66.666667%;
  }

  .md\:w-1\/4{
    width: 25%;
  }

  .md\:w-2\/4{
    width: 50%;
  }

  .md\:w-3\/4{
    width: 75%;
  }

  .md\:w-1\/5{
    width: 20%;
  }

  .md\:w-2\/5{
    width: 40%;
  }

  .md\:w-3\/5{
    width: 60%;
  }

  .md\:w-4\/5{
    width: 80%;
  }

  .md\:w-1\/6{
    width: 16.666667%;
  }

  .md\:w-2\/6{
    width: 33.333333%;
  }

  .md\:w-3\/6{
    width: 50%;
  }

  .md\:w-4\/6{
    width: 66.666667%;
  }

  .md\:w-5\/6{
    width: 83.333333%;
  }

  .md\:w-1\/12{
    width: 8.333333%;
  }

  .md\:w-2\/12{
    width: 16.666667%;
  }

  .md\:w-3\/12{
    width: 25%;
  }

  .md\:w-4\/12{
    width: 33.333333%;
  }

  .md\:w-5\/12{
    width: 41.666667%;
  }

  .md\:w-6\/12{
    width: 50%;
  }

  .md\:w-7\/12{
    width: 58.333333%;
  }

  .md\:w-8\/12{
    width: 66.666667%;
  }

  .md\:w-9\/12{
    width: 75%;
  }

  .md\:w-10\/12{
    width: 83.333333%;
  }

  .md\:w-11\/12{
    width: 91.666667%;
  }

  .md\:w-full{
    width: 100%;
  }

  .md\:w-screen{
    width: 100vw;
  }
}

@media (min-width: 1024px){
  .lg\:block{
    display: block;
  }

  .lg\:inline-block{
    display: inline-block;
  }

  .lg\:inline{
    display: inline;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:inline-flex{
    display: inline-flex;
  }

  .lg\:table{
    display: table;
  }

  .lg\:table-row{
    display: table-row;
  }

  .lg\:table-cell{
    display: table-cell;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:flex-row-reverse{
    flex-direction: row-reverse;
  }

  .lg\:flex-col{
    flex-direction: column;
  }

  .lg\:flex-col-reverse{
    flex-direction: column-reverse;
  }

  .lg\:flex-wrap{
    flex-wrap: wrap;
  }

  .lg\:flex-wrap-reverse{
    flex-wrap: wrap-reverse;
  }

  .lg\:flex-no-wrap{
    flex-wrap: nowrap;
  }

  .lg\:items-start{
    align-items: flex-start;
  }

  .lg\:items-end{
    align-items: flex-end;
  }

  .lg\:items-center{
    align-items: center;
  }

  .lg\:items-baseline{
    align-items: baseline;
  }

  .lg\:items-stretch{
    align-items: stretch;
  }

  .lg\:self-auto{
    align-self: auto;
  }

  .lg\:self-start{
    align-self: flex-start;
  }

  .lg\:self-end{
    align-self: flex-end;
  }

  .lg\:self-center{
    align-self: center;
  }

  .lg\:self-stretch{
    align-self: stretch;
  }

  .lg\:justify-start{
    justify-content: flex-start;
  }

  .lg\:justify-end{
    justify-content: flex-end;
  }

  .lg\:justify-center{
    justify-content: center;
  }

  .lg\:justify-between{
    justify-content: space-between;
  }

  .lg\:justify-around{
    justify-content: space-around;
  }

  .lg\:content-center{
    align-content: center;
  }

  .lg\:content-start{
    align-content: flex-start;
  }

  .lg\:content-end{
    align-content: flex-end;
  }

  .lg\:content-between{
    align-content: space-between;
  }

  .lg\:content-around{
    align-content: space-around;
  }

  .lg\:flex-1{
    flex: 1 1 0%;
  }

  .lg\:flex-auto{
    flex: 1 1 auto;
  }

  .lg\:flex-initial{
    flex: 0 1 auto;
  }

  .lg\:flex-none{
    flex: none;
  }

  .lg\:flex-grow-0{
    flex-grow: 0;
  }

  .lg\:flex-grow{
    flex-grow: 1;
  }

  .lg\:flex-shrink-0{
    flex-shrink: 0;
  }

  .lg\:flex-shrink{
    flex-shrink: 1;
  }

  .lg\:float-right{
    float: right;
  }

  .lg\:float-left{
    float: left;
  }

  .lg\:float-none{
    float: none;
  }

  .lg\:clearfix:after{
    content: "";
    display: table;
    clear: both;
  }

  .lg\:h-0{
    height: 0;
  }

  .lg\:h-1{
    height: 8px;
  }

  .lg\:h-2{
    height: 16px;
  }

  .lg\:h-3{
    height: 24px;
  }

  .lg\:h-4{
    height: 32px;
  }

  .lg\:h-5{
    height: 48px;
  }

  .lg\:h-6{
    height: 64px;
  }

  .lg\:h-input{
    height: 42px;
  }

  .lg\:h-input-compact{
    height: 32px;
  }

  .lg\:h-auto{
    height: auto;
  }

  .lg\:h-full{
    height: 100%;
  }

  .lg\:h-screen{
    height: 100vh;
  }

  .lg\:m-0{
    margin: 0;
  }

  .lg\:m-1{
    margin: 8px;
  }

  .lg\:m-2{
    margin: 16px;
  }

  .lg\:m-3{
    margin: 24px;
  }

  .lg\:m-4{
    margin: 32px;
  }

  .lg\:m-5{
    margin: 48px;
  }

  .lg\:m-6{
    margin: 64px;
  }

  .lg\:-m-1{
    margin: -8px;
  }

  .lg\:-m-2{
    margin: -16px;
  }

  .lg\:-m-3{
    margin: -24px;
  }

  .lg\:-m-4{
    margin: -32px;
  }

  .lg\:-m-5{
    margin: -48px;
  }

  .lg\:-m-6{
    margin: -64px;
  }

  .lg\:m-auto{
    margin: auto;
  }

  .lg\:my-0{
    margin-top: 0;
    margin-bottom: 0;
  }

  .lg\:mx-0{
    margin-left: 0;
    margin-right: 0;
  }

  .lg\:my-1{
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .lg\:mx-1{
    margin-left: 8px;
    margin-right: 8px;
  }

  .lg\:my-2{
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .lg\:mx-2{
    margin-left: 16px;
    margin-right: 16px;
  }

  .lg\:my-3{
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .lg\:mx-3{
    margin-left: 24px;
    margin-right: 24px;
  }

  .lg\:my-4{
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .lg\:mx-4{
    margin-left: 32px;
    margin-right: 32px;
  }

  .lg\:my-5{
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .lg\:mx-5{
    margin-left: 48px;
    margin-right: 48px;
  }

  .lg\:my-6{
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .lg\:mx-6{
    margin-left: 64px;
    margin-right: 64px;
  }

  .lg\:-my-1{
    margin-top: -8px;
    margin-bottom: -8px;
  }

  .lg\:-mx-1{
    margin-left: -8px;
    margin-right: -8px;
  }

  .lg\:-my-2{
    margin-top: -16px;
    margin-bottom: -16px;
  }

  .lg\:-mx-2{
    margin-left: -16px;
    margin-right: -16px;
  }

  .lg\:-my-3{
    margin-top: -24px;
    margin-bottom: -24px;
  }

  .lg\:-mx-3{
    margin-left: -24px;
    margin-right: -24px;
  }

  .lg\:-my-4{
    margin-top: -32px;
    margin-bottom: -32px;
  }

  .lg\:-mx-4{
    margin-left: -32px;
    margin-right: -32px;
  }

  .lg\:-my-5{
    margin-top: -48px;
    margin-bottom: -48px;
  }

  .lg\:-mx-5{
    margin-left: -48px;
    margin-right: -48px;
  }

  .lg\:-my-6{
    margin-top: -64px;
    margin-bottom: -64px;
  }

  .lg\:-mx-6{
    margin-left: -64px;
    margin-right: -64px;
  }

  .lg\:my-auto{
    margin-top: auto;
    margin-bottom: auto;
  }

  .lg\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .lg\:mt-0{
    margin-top: 0;
  }

  .lg\:mr-0{
    margin-right: 0;
  }

  .lg\:mb-0{
    margin-bottom: 0;
  }

  .lg\:ml-0{
    margin-left: 0;
  }

  .lg\:mt-1{
    margin-top: 8px;
  }

  .lg\:mr-1{
    margin-right: 8px;
  }

  .lg\:mb-1{
    margin-bottom: 8px;
  }

  .lg\:ml-1{
    margin-left: 8px;
  }

  .lg\:mt-2{
    margin-top: 16px;
  }

  .lg\:mr-2{
    margin-right: 16px;
  }

  .lg\:mb-2{
    margin-bottom: 16px;
  }

  .lg\:ml-2{
    margin-left: 16px;
  }

  .lg\:mt-3{
    margin-top: 24px;
  }

  .lg\:mr-3{
    margin-right: 24px;
  }

  .lg\:mb-3{
    margin-bottom: 24px;
  }

  .lg\:ml-3{
    margin-left: 24px;
  }

  .lg\:mt-4{
    margin-top: 32px;
  }

  .lg\:mr-4{
    margin-right: 32px;
  }

  .lg\:mb-4{
    margin-bottom: 32px;
  }

  .lg\:ml-4{
    margin-left: 32px;
  }

  .lg\:mt-5{
    margin-top: 48px;
  }

  .lg\:mr-5{
    margin-right: 48px;
  }

  .lg\:mb-5{
    margin-bottom: 48px;
  }

  .lg\:ml-5{
    margin-left: 48px;
  }

  .lg\:mt-6{
    margin-top: 64px;
  }

  .lg\:mr-6{
    margin-right: 64px;
  }

  .lg\:mb-6{
    margin-bottom: 64px;
  }

  .lg\:ml-6{
    margin-left: 64px;
  }

  .lg\:-mt-1{
    margin-top: -8px;
  }

  .lg\:-mr-1{
    margin-right: -8px;
  }

  .lg\:-mb-1{
    margin-bottom: -8px;
  }

  .lg\:-ml-1{
    margin-left: -8px;
  }

  .lg\:-mt-2{
    margin-top: -16px;
  }

  .lg\:-mr-2{
    margin-right: -16px;
  }

  .lg\:-mb-2{
    margin-bottom: -16px;
  }

  .lg\:-ml-2{
    margin-left: -16px;
  }

  .lg\:-mt-3{
    margin-top: -24px;
  }

  .lg\:-mr-3{
    margin-right: -24px;
  }

  .lg\:-mb-3{
    margin-bottom: -24px;
  }

  .lg\:-ml-3{
    margin-left: -24px;
  }

  .lg\:-mt-4{
    margin-top: -32px;
  }

  .lg\:-mr-4{
    margin-right: -32px;
  }

  .lg\:-mb-4{
    margin-bottom: -32px;
  }

  .lg\:-ml-4{
    margin-left: -32px;
  }

  .lg\:-mt-5{
    margin-top: -48px;
  }

  .lg\:-mr-5{
    margin-right: -48px;
  }

  .lg\:-mb-5{
    margin-bottom: -48px;
  }

  .lg\:-ml-5{
    margin-left: -48px;
  }

  .lg\:-mt-6{
    margin-top: -64px;
  }

  .lg\:-mr-6{
    margin-right: -64px;
  }

  .lg\:-mb-6{
    margin-bottom: -64px;
  }

  .lg\:-ml-6{
    margin-left: -64px;
  }

  .lg\:mt-auto{
    margin-top: auto;
  }

  .lg\:mr-auto{
    margin-right: auto;
  }

  .lg\:mb-auto{
    margin-bottom: auto;
  }

  .lg\:ml-auto{
    margin-left: auto;
  }

  .lg\:min-h-0{
    min-height: 0;
  }

  .lg\:min-h-full{
    min-height: 100%;
  }

  .lg\:min-h-screen{
    min-height: 100vh;
  }

  .lg\:min-w-0{
    min-width: 0;
  }

  .lg\:min-w-btn{
    min-width: 120px;
  }

  .lg\:min-w-dropdown{
    min-width: 140px;
  }

  .lg\:min-w-auto{
    min-width: auto;
  }

  .lg\:p-0{
    padding: 0;
  }

  .lg\:p-1{
    padding: 8px;
  }

  .lg\:p-2{
    padding: 16px;
  }

  .lg\:p-3{
    padding: 24px;
  }

  .lg\:p-4{
    padding: 32px;
  }

  .lg\:p-5{
    padding: 48px;
  }

  .lg\:p-6{
    padding: 64px;
  }

  .lg\:p-input{
    padding: 12px;
  }

  .lg\:p-input-compact{
    padding: 8px;
  }

  .lg\:p-button{
    padding: 24px;
  }

  .lg\:py-0{
    padding-top: 0;
    padding-bottom: 0;
  }

  .lg\:px-0{
    padding-left: 0;
    padding-right: 0;
  }

  .lg\:py-1{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .lg\:px-1{
    padding-left: 8px;
    padding-right: 8px;
  }

  .lg\:py-2{
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .lg\:px-2{
    padding-left: 16px;
    padding-right: 16px;
  }

  .lg\:py-3{
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .lg\:px-3{
    padding-left: 24px;
    padding-right: 24px;
  }

  .lg\:py-4{
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .lg\:px-4{
    padding-left: 32px;
    padding-right: 32px;
  }

  .lg\:py-5{
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .lg\:px-5{
    padding-left: 48px;
    padding-right: 48px;
  }

  .lg\:py-6{
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .lg\:px-6{
    padding-left: 64px;
    padding-right: 64px;
  }

  .lg\:py-input{
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .lg\:px-input{
    padding-left: 12px;
    padding-right: 12px;
  }

  .lg\:py-input-compact{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .lg\:px-input-compact{
    padding-left: 8px;
    padding-right: 8px;
  }

  .lg\:py-button{
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .lg\:px-button{
    padding-left: 24px;
    padding-right: 24px;
  }

  .lg\:pt-0{
    padding-top: 0;
  }

  .lg\:pr-0{
    padding-right: 0;
  }

  .lg\:pb-0{
    padding-bottom: 0;
  }

  .lg\:pl-0{
    padding-left: 0;
  }

  .lg\:pt-1{
    padding-top: 8px;
  }

  .lg\:pr-1{
    padding-right: 8px;
  }

  .lg\:pb-1{
    padding-bottom: 8px;
  }

  .lg\:pl-1{
    padding-left: 8px;
  }

  .lg\:pt-2{
    padding-top: 16px;
  }

  .lg\:pr-2{
    padding-right: 16px;
  }

  .lg\:pb-2{
    padding-bottom: 16px;
  }

  .lg\:pl-2{
    padding-left: 16px;
  }

  .lg\:pt-3{
    padding-top: 24px;
  }

  .lg\:pr-3{
    padding-right: 24px;
  }

  .lg\:pb-3{
    padding-bottom: 24px;
  }

  .lg\:pl-3{
    padding-left: 24px;
  }

  .lg\:pt-4{
    padding-top: 32px;
  }

  .lg\:pr-4{
    padding-right: 32px;
  }

  .lg\:pb-4{
    padding-bottom: 32px;
  }

  .lg\:pl-4{
    padding-left: 32px;
  }

  .lg\:pt-5{
    padding-top: 48px;
  }

  .lg\:pr-5{
    padding-right: 48px;
  }

  .lg\:pb-5{
    padding-bottom: 48px;
  }

  .lg\:pl-5{
    padding-left: 48px;
  }

  .lg\:pt-6{
    padding-top: 64px;
  }

  .lg\:pr-6{
    padding-right: 64px;
  }

  .lg\:pb-6{
    padding-bottom: 64px;
  }

  .lg\:pl-6{
    padding-left: 64px;
  }

  .lg\:pt-input{
    padding-top: 12px;
  }

  .lg\:pr-input{
    padding-right: 12px;
  }

  .lg\:pb-input{
    padding-bottom: 12px;
  }

  .lg\:pl-input{
    padding-left: 12px;
  }

  .lg\:pt-input-compact{
    padding-top: 8px;
  }

  .lg\:pr-input-compact{
    padding-right: 8px;
  }

  .lg\:pb-input-compact{
    padding-bottom: 8px;
  }

  .lg\:pl-input-compact{
    padding-left: 8px;
  }

  .lg\:pt-button{
    padding-top: 24px;
  }

  .lg\:pr-button{
    padding-right: 24px;
  }

  .lg\:pb-button{
    padding-bottom: 24px;
  }

  .lg\:pl-button{
    padding-left: 24px;
  }

  .lg\:static{
    position: static;
  }

  .lg\:fixed{
    position: fixed;
  }

  .lg\:absolute{
    position: absolute;
  }

  .lg\:relative{
    position: relative;
  }

  .lg\:sticky{
    position: sticky;
  }

  .lg\:inset-0{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .lg\:inset-auto{
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  .lg\:inset-y-0{
    top: 0;
    bottom: 0;
  }

  .lg\:inset-x-0{
    right: 0;
    left: 0;
  }

  .lg\:inset-y-auto{
    top: auto;
    bottom: auto;
  }

  .lg\:inset-x-auto{
    right: auto;
    left: auto;
  }

  .lg\:top-0{
    top: 0;
  }

  .lg\:right-0{
    right: 0;
  }

  .lg\:bottom-0{
    bottom: 0;
  }

  .lg\:left-0{
    left: 0;
  }

  .lg\:top-auto{
    top: auto;
  }

  .lg\:right-auto{
    right: auto;
  }

  .lg\:bottom-auto{
    bottom: auto;
  }

  .lg\:left-auto{
    left: auto;
  }

  .lg\:text-left{
    text-align: left;
  }

  .lg\:text-center{
    text-align: center;
  }

  .lg\:text-right{
    text-align: right;
  }

  .lg\:text-justify{
    text-align: justify;
  }

  .lg\:w-0{
    width: 0;
  }

  .lg\:w-1{
    width: 8px;
  }

  .lg\:w-2{
    width: 16px;
  }

  .lg\:w-3{
    width: 24px;
  }

  .lg\:w-4{
    width: 32px;
  }

  .lg\:w-5{
    width: 48px;
  }

  .lg\:w-6{
    width: 64px;
  }

  .lg\:w-auto{
    width: auto;
  }

  .lg\:w-1\/2{
    width: 50%;
  }

  .lg\:w-1\/3{
    width: 33.333333%;
  }

  .lg\:w-2\/3{
    width: 66.666667%;
  }

  .lg\:w-1\/4{
    width: 25%;
  }

  .lg\:w-2\/4{
    width: 50%;
  }

  .lg\:w-3\/4{
    width: 75%;
  }

  .lg\:w-1\/5{
    width: 20%;
  }

  .lg\:w-2\/5{
    width: 40%;
  }

  .lg\:w-3\/5{
    width: 60%;
  }

  .lg\:w-4\/5{
    width: 80%;
  }

  .lg\:w-1\/6{
    width: 16.666667%;
  }

  .lg\:w-2\/6{
    width: 33.333333%;
  }

  .lg\:w-3\/6{
    width: 50%;
  }

  .lg\:w-4\/6{
    width: 66.666667%;
  }

  .lg\:w-5\/6{
    width: 83.333333%;
  }

  .lg\:w-1\/12{
    width: 8.333333%;
  }

  .lg\:w-2\/12{
    width: 16.666667%;
  }

  .lg\:w-3\/12{
    width: 25%;
  }

  .lg\:w-4\/12{
    width: 33.333333%;
  }

  .lg\:w-5\/12{
    width: 41.666667%;
  }

  .lg\:w-6\/12{
    width: 50%;
  }

  .lg\:w-7\/12{
    width: 58.333333%;
  }

  .lg\:w-8\/12{
    width: 66.666667%;
  }

  .lg\:w-9\/12{
    width: 75%;
  }

  .lg\:w-10\/12{
    width: 83.333333%;
  }

  .lg\:w-11\/12{
    width: 91.666667%;
  }

  .lg\:w-full{
    width: 100%;
  }

  .lg\:w-screen{
    width: 100vw;
  }
}

@media (min-width: 1280px){
  .xl\:block{
    display: block;
  }

  .xl\:inline-block{
    display: inline-block;
  }

  .xl\:inline{
    display: inline;
  }

  .xl\:flex{
    display: flex;
  }

  .xl\:inline-flex{
    display: inline-flex;
  }

  .xl\:table{
    display: table;
  }

  .xl\:table-row{
    display: table-row;
  }

  .xl\:table-cell{
    display: table-cell;
  }

  .xl\:hidden{
    display: none;
  }

  .xl\:flex-row{
    flex-direction: row;
  }

  .xl\:flex-row-reverse{
    flex-direction: row-reverse;
  }

  .xl\:flex-col{
    flex-direction: column;
  }

  .xl\:flex-col-reverse{
    flex-direction: column-reverse;
  }

  .xl\:flex-wrap{
    flex-wrap: wrap;
  }

  .xl\:flex-wrap-reverse{
    flex-wrap: wrap-reverse;
  }

  .xl\:flex-no-wrap{
    flex-wrap: nowrap;
  }

  .xl\:items-start{
    align-items: flex-start;
  }

  .xl\:items-end{
    align-items: flex-end;
  }

  .xl\:items-center{
    align-items: center;
  }

  .xl\:items-baseline{
    align-items: baseline;
  }

  .xl\:items-stretch{
    align-items: stretch;
  }

  .xl\:self-auto{
    align-self: auto;
  }

  .xl\:self-start{
    align-self: flex-start;
  }

  .xl\:self-end{
    align-self: flex-end;
  }

  .xl\:self-center{
    align-self: center;
  }

  .xl\:self-stretch{
    align-self: stretch;
  }

  .xl\:justify-start{
    justify-content: flex-start;
  }

  .xl\:justify-end{
    justify-content: flex-end;
  }

  .xl\:justify-center{
    justify-content: center;
  }

  .xl\:justify-between{
    justify-content: space-between;
  }

  .xl\:justify-around{
    justify-content: space-around;
  }

  .xl\:content-center{
    align-content: center;
  }

  .xl\:content-start{
    align-content: flex-start;
  }

  .xl\:content-end{
    align-content: flex-end;
  }

  .xl\:content-between{
    align-content: space-between;
  }

  .xl\:content-around{
    align-content: space-around;
  }

  .xl\:flex-1{
    flex: 1 1 0%;
  }

  .xl\:flex-auto{
    flex: 1 1 auto;
  }

  .xl\:flex-initial{
    flex: 0 1 auto;
  }

  .xl\:flex-none{
    flex: none;
  }

  .xl\:flex-grow-0{
    flex-grow: 0;
  }

  .xl\:flex-grow{
    flex-grow: 1;
  }

  .xl\:flex-shrink-0{
    flex-shrink: 0;
  }

  .xl\:flex-shrink{
    flex-shrink: 1;
  }

  .xl\:float-right{
    float: right;
  }

  .xl\:float-left{
    float: left;
  }

  .xl\:float-none{
    float: none;
  }

  .xl\:clearfix:after{
    content: "";
    display: table;
    clear: both;
  }

  .xl\:h-0{
    height: 0;
  }

  .xl\:h-1{
    height: 8px;
  }

  .xl\:h-2{
    height: 16px;
  }

  .xl\:h-3{
    height: 24px;
  }

  .xl\:h-4{
    height: 32px;
  }

  .xl\:h-5{
    height: 48px;
  }

  .xl\:h-6{
    height: 64px;
  }

  .xl\:h-input{
    height: 42px;
  }

  .xl\:h-input-compact{
    height: 32px;
  }

  .xl\:h-auto{
    height: auto;
  }

  .xl\:h-full{
    height: 100%;
  }

  .xl\:h-screen{
    height: 100vh;
  }

  .xl\:m-0{
    margin: 0;
  }

  .xl\:m-1{
    margin: 8px;
  }

  .xl\:m-2{
    margin: 16px;
  }

  .xl\:m-3{
    margin: 24px;
  }

  .xl\:m-4{
    margin: 32px;
  }

  .xl\:m-5{
    margin: 48px;
  }

  .xl\:m-6{
    margin: 64px;
  }

  .xl\:-m-1{
    margin: -8px;
  }

  .xl\:-m-2{
    margin: -16px;
  }

  .xl\:-m-3{
    margin: -24px;
  }

  .xl\:-m-4{
    margin: -32px;
  }

  .xl\:-m-5{
    margin: -48px;
  }

  .xl\:-m-6{
    margin: -64px;
  }

  .xl\:m-auto{
    margin: auto;
  }

  .xl\:my-0{
    margin-top: 0;
    margin-bottom: 0;
  }

  .xl\:mx-0{
    margin-left: 0;
    margin-right: 0;
  }

  .xl\:my-1{
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .xl\:mx-1{
    margin-left: 8px;
    margin-right: 8px;
  }

  .xl\:my-2{
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .xl\:mx-2{
    margin-left: 16px;
    margin-right: 16px;
  }

  .xl\:my-3{
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .xl\:mx-3{
    margin-left: 24px;
    margin-right: 24px;
  }

  .xl\:my-4{
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .xl\:mx-4{
    margin-left: 32px;
    margin-right: 32px;
  }

  .xl\:my-5{
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .xl\:mx-5{
    margin-left: 48px;
    margin-right: 48px;
  }

  .xl\:my-6{
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .xl\:mx-6{
    margin-left: 64px;
    margin-right: 64px;
  }

  .xl\:-my-1{
    margin-top: -8px;
    margin-bottom: -8px;
  }

  .xl\:-mx-1{
    margin-left: -8px;
    margin-right: -8px;
  }

  .xl\:-my-2{
    margin-top: -16px;
    margin-bottom: -16px;
  }

  .xl\:-mx-2{
    margin-left: -16px;
    margin-right: -16px;
  }

  .xl\:-my-3{
    margin-top: -24px;
    margin-bottom: -24px;
  }

  .xl\:-mx-3{
    margin-left: -24px;
    margin-right: -24px;
  }

  .xl\:-my-4{
    margin-top: -32px;
    margin-bottom: -32px;
  }

  .xl\:-mx-4{
    margin-left: -32px;
    margin-right: -32px;
  }

  .xl\:-my-5{
    margin-top: -48px;
    margin-bottom: -48px;
  }

  .xl\:-mx-5{
    margin-left: -48px;
    margin-right: -48px;
  }

  .xl\:-my-6{
    margin-top: -64px;
    margin-bottom: -64px;
  }

  .xl\:-mx-6{
    margin-left: -64px;
    margin-right: -64px;
  }

  .xl\:my-auto{
    margin-top: auto;
    margin-bottom: auto;
  }

  .xl\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .xl\:mt-0{
    margin-top: 0;
  }

  .xl\:mr-0{
    margin-right: 0;
  }

  .xl\:mb-0{
    margin-bottom: 0;
  }

  .xl\:ml-0{
    margin-left: 0;
  }

  .xl\:mt-1{
    margin-top: 8px;
  }

  .xl\:mr-1{
    margin-right: 8px;
  }

  .xl\:mb-1{
    margin-bottom: 8px;
  }

  .xl\:ml-1{
    margin-left: 8px;
  }

  .xl\:mt-2{
    margin-top: 16px;
  }

  .xl\:mr-2{
    margin-right: 16px;
  }

  .xl\:mb-2{
    margin-bottom: 16px;
  }

  .xl\:ml-2{
    margin-left: 16px;
  }

  .xl\:mt-3{
    margin-top: 24px;
  }

  .xl\:mr-3{
    margin-right: 24px;
  }

  .xl\:mb-3{
    margin-bottom: 24px;
  }

  .xl\:ml-3{
    margin-left: 24px;
  }

  .xl\:mt-4{
    margin-top: 32px;
  }

  .xl\:mr-4{
    margin-right: 32px;
  }

  .xl\:mb-4{
    margin-bottom: 32px;
  }

  .xl\:ml-4{
    margin-left: 32px;
  }

  .xl\:mt-5{
    margin-top: 48px;
  }

  .xl\:mr-5{
    margin-right: 48px;
  }

  .xl\:mb-5{
    margin-bottom: 48px;
  }

  .xl\:ml-5{
    margin-left: 48px;
  }

  .xl\:mt-6{
    margin-top: 64px;
  }

  .xl\:mr-6{
    margin-right: 64px;
  }

  .xl\:mb-6{
    margin-bottom: 64px;
  }

  .xl\:ml-6{
    margin-left: 64px;
  }

  .xl\:-mt-1{
    margin-top: -8px;
  }

  .xl\:-mr-1{
    margin-right: -8px;
  }

  .xl\:-mb-1{
    margin-bottom: -8px;
  }

  .xl\:-ml-1{
    margin-left: -8px;
  }

  .xl\:-mt-2{
    margin-top: -16px;
  }

  .xl\:-mr-2{
    margin-right: -16px;
  }

  .xl\:-mb-2{
    margin-bottom: -16px;
  }

  .xl\:-ml-2{
    margin-left: -16px;
  }

  .xl\:-mt-3{
    margin-top: -24px;
  }

  .xl\:-mr-3{
    margin-right: -24px;
  }

  .xl\:-mb-3{
    margin-bottom: -24px;
  }

  .xl\:-ml-3{
    margin-left: -24px;
  }

  .xl\:-mt-4{
    margin-top: -32px;
  }

  .xl\:-mr-4{
    margin-right: -32px;
  }

  .xl\:-mb-4{
    margin-bottom: -32px;
  }

  .xl\:-ml-4{
    margin-left: -32px;
  }

  .xl\:-mt-5{
    margin-top: -48px;
  }

  .xl\:-mr-5{
    margin-right: -48px;
  }

  .xl\:-mb-5{
    margin-bottom: -48px;
  }

  .xl\:-ml-5{
    margin-left: -48px;
  }

  .xl\:-mt-6{
    margin-top: -64px;
  }

  .xl\:-mr-6{
    margin-right: -64px;
  }

  .xl\:-mb-6{
    margin-bottom: -64px;
  }

  .xl\:-ml-6{
    margin-left: -64px;
  }

  .xl\:mt-auto{
    margin-top: auto;
  }

  .xl\:mr-auto{
    margin-right: auto;
  }

  .xl\:mb-auto{
    margin-bottom: auto;
  }

  .xl\:ml-auto{
    margin-left: auto;
  }

  .xl\:min-h-0{
    min-height: 0;
  }

  .xl\:min-h-full{
    min-height: 100%;
  }

  .xl\:min-h-screen{
    min-height: 100vh;
  }

  .xl\:min-w-0{
    min-width: 0;
  }

  .xl\:min-w-btn{
    min-width: 120px;
  }

  .xl\:min-w-dropdown{
    min-width: 140px;
  }

  .xl\:min-w-auto{
    min-width: auto;
  }

  .xl\:p-0{
    padding: 0;
  }

  .xl\:p-1{
    padding: 8px;
  }

  .xl\:p-2{
    padding: 16px;
  }

  .xl\:p-3{
    padding: 24px;
  }

  .xl\:p-4{
    padding: 32px;
  }

  .xl\:p-5{
    padding: 48px;
  }

  .xl\:p-6{
    padding: 64px;
  }

  .xl\:p-input{
    padding: 12px;
  }

  .xl\:p-input-compact{
    padding: 8px;
  }

  .xl\:p-button{
    padding: 24px;
  }

  .xl\:py-0{
    padding-top: 0;
    padding-bottom: 0;
  }

  .xl\:px-0{
    padding-left: 0;
    padding-right: 0;
  }

  .xl\:py-1{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .xl\:px-1{
    padding-left: 8px;
    padding-right: 8px;
  }

  .xl\:py-2{
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .xl\:px-2{
    padding-left: 16px;
    padding-right: 16px;
  }

  .xl\:py-3{
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .xl\:px-3{
    padding-left: 24px;
    padding-right: 24px;
  }

  .xl\:py-4{
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .xl\:px-4{
    padding-left: 32px;
    padding-right: 32px;
  }

  .xl\:py-5{
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .xl\:px-5{
    padding-left: 48px;
    padding-right: 48px;
  }

  .xl\:py-6{
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .xl\:px-6{
    padding-left: 64px;
    padding-right: 64px;
  }

  .xl\:py-input{
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .xl\:px-input{
    padding-left: 12px;
    padding-right: 12px;
  }

  .xl\:py-input-compact{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .xl\:px-input-compact{
    padding-left: 8px;
    padding-right: 8px;
  }

  .xl\:py-button{
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .xl\:px-button{
    padding-left: 24px;
    padding-right: 24px;
  }

  .xl\:pt-0{
    padding-top: 0;
  }

  .xl\:pr-0{
    padding-right: 0;
  }

  .xl\:pb-0{
    padding-bottom: 0;
  }

  .xl\:pl-0{
    padding-left: 0;
  }

  .xl\:pt-1{
    padding-top: 8px;
  }

  .xl\:pr-1{
    padding-right: 8px;
  }

  .xl\:pb-1{
    padding-bottom: 8px;
  }

  .xl\:pl-1{
    padding-left: 8px;
  }

  .xl\:pt-2{
    padding-top: 16px;
  }

  .xl\:pr-2{
    padding-right: 16px;
  }

  .xl\:pb-2{
    padding-bottom: 16px;
  }

  .xl\:pl-2{
    padding-left: 16px;
  }

  .xl\:pt-3{
    padding-top: 24px;
  }

  .xl\:pr-3{
    padding-right: 24px;
  }

  .xl\:pb-3{
    padding-bottom: 24px;
  }

  .xl\:pl-3{
    padding-left: 24px;
  }

  .xl\:pt-4{
    padding-top: 32px;
  }

  .xl\:pr-4{
    padding-right: 32px;
  }

  .xl\:pb-4{
    padding-bottom: 32px;
  }

  .xl\:pl-4{
    padding-left: 32px;
  }

  .xl\:pt-5{
    padding-top: 48px;
  }

  .xl\:pr-5{
    padding-right: 48px;
  }

  .xl\:pb-5{
    padding-bottom: 48px;
  }

  .xl\:pl-5{
    padding-left: 48px;
  }

  .xl\:pt-6{
    padding-top: 64px;
  }

  .xl\:pr-6{
    padding-right: 64px;
  }

  .xl\:pb-6{
    padding-bottom: 64px;
  }

  .xl\:pl-6{
    padding-left: 64px;
  }

  .xl\:pt-input{
    padding-top: 12px;
  }

  .xl\:pr-input{
    padding-right: 12px;
  }

  .xl\:pb-input{
    padding-bottom: 12px;
  }

  .xl\:pl-input{
    padding-left: 12px;
  }

  .xl\:pt-input-compact{
    padding-top: 8px;
  }

  .xl\:pr-input-compact{
    padding-right: 8px;
  }

  .xl\:pb-input-compact{
    padding-bottom: 8px;
  }

  .xl\:pl-input-compact{
    padding-left: 8px;
  }

  .xl\:pt-button{
    padding-top: 24px;
  }

  .xl\:pr-button{
    padding-right: 24px;
  }

  .xl\:pb-button{
    padding-bottom: 24px;
  }

  .xl\:pl-button{
    padding-left: 24px;
  }

  .xl\:static{
    position: static;
  }

  .xl\:fixed{
    position: fixed;
  }

  .xl\:absolute{
    position: absolute;
  }

  .xl\:relative{
    position: relative;
  }

  .xl\:sticky{
    position: sticky;
  }

  .xl\:inset-0{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .xl\:inset-auto{
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  .xl\:inset-y-0{
    top: 0;
    bottom: 0;
  }

  .xl\:inset-x-0{
    right: 0;
    left: 0;
  }

  .xl\:inset-y-auto{
    top: auto;
    bottom: auto;
  }

  .xl\:inset-x-auto{
    right: auto;
    left: auto;
  }

  .xl\:top-0{
    top: 0;
  }

  .xl\:right-0{
    right: 0;
  }

  .xl\:bottom-0{
    bottom: 0;
  }

  .xl\:left-0{
    left: 0;
  }

  .xl\:top-auto{
    top: auto;
  }

  .xl\:right-auto{
    right: auto;
  }

  .xl\:bottom-auto{
    bottom: auto;
  }

  .xl\:left-auto{
    left: auto;
  }

  .xl\:text-left{
    text-align: left;
  }

  .xl\:text-center{
    text-align: center;
  }

  .xl\:text-right{
    text-align: right;
  }

  .xl\:text-justify{
    text-align: justify;
  }

  .xl\:w-0{
    width: 0;
  }

  .xl\:w-1{
    width: 8px;
  }

  .xl\:w-2{
    width: 16px;
  }

  .xl\:w-3{
    width: 24px;
  }

  .xl\:w-4{
    width: 32px;
  }

  .xl\:w-5{
    width: 48px;
  }

  .xl\:w-6{
    width: 64px;
  }

  .xl\:w-auto{
    width: auto;
  }

  .xl\:w-1\/2{
    width: 50%;
  }

  .xl\:w-1\/3{
    width: 33.333333%;
  }

  .xl\:w-2\/3{
    width: 66.666667%;
  }

  .xl\:w-1\/4{
    width: 25%;
  }

  .xl\:w-2\/4{
    width: 50%;
  }

  .xl\:w-3\/4{
    width: 75%;
  }

  .xl\:w-1\/5{
    width: 20%;
  }

  .xl\:w-2\/5{
    width: 40%;
  }

  .xl\:w-3\/5{
    width: 60%;
  }

  .xl\:w-4\/5{
    width: 80%;
  }

  .xl\:w-1\/6{
    width: 16.666667%;
  }

  .xl\:w-2\/6{
    width: 33.333333%;
  }

  .xl\:w-3\/6{
    width: 50%;
  }

  .xl\:w-4\/6{
    width: 66.666667%;
  }

  .xl\:w-5\/6{
    width: 83.333333%;
  }

  .xl\:w-1\/12{
    width: 8.333333%;
  }

  .xl\:w-2\/12{
    width: 16.666667%;
  }

  .xl\:w-3\/12{
    width: 25%;
  }

  .xl\:w-4\/12{
    width: 33.333333%;
  }

  .xl\:w-5\/12{
    width: 41.666667%;
  }

  .xl\:w-6\/12{
    width: 50%;
  }

  .xl\:w-7\/12{
    width: 58.333333%;
  }

  .xl\:w-8\/12{
    width: 66.666667%;
  }

  .xl\:w-9\/12{
    width: 75%;
  }

  .xl\:w-10\/12{
    width: 83.333333%;
  }

  .xl\:w-11\/12{
    width: 91.666667%;
  }

  .xl\:w-full{
    width: 100%;
  }

  .xl\:w-screen{
    width: 100vw;
  }
}