@import (reference) "../../../styles/utilities.less";

// @breadcrumb-padding: 20px;
// @breadcrumb-arrow-size: 10px;

@breadcrumb-arrow-width: 9px;
@breadcrumb-padding: 16px;


.breadcrumbs 		  {
  .flex;
  .flex-no-wrap;
}
.breadcrumb-item 	{
  .bg-white;
  .border;
  .border-solid;
  .border-light;
  .font-body;
  .text-input;
  .flex;
  .items-center;
  .h-input;
  .leading-input;
  &:first-child {
    .rounded-l-full;
    padding-left: @breadcrumb-padding;
    padding-left: @breadcrumb-padding;
  }
  &:last-child {
    .rounded-r-full;
    padding-right: @breadcrumb-padding;
  }
  &:not(:first-child) {
    margin-left: -1px;
  }
  &.visited {

  }
}
.breadcrumb-label {
  .text-primary;
  padding-left: 5px;
}


.breadcrumb-icon 	{ &:extend(.breadcrumb-icon all); }
.breadcrumb-label { &:extend(.breadcrumb-label all); }




.arrow(@width, @height, @color) {
   border-top: (@height / 2) solid transparent;
   border-bottom: (@height / 2) solid transparent;
   border-left: @width solid @color;
}

@breadcrumb-item-hover-color: #f3f3f3;

.breadcrumb-item-color(@bg, @border, @bg-hover) {
  background-color: @bg;
  border-color: @border;
  &:before {
    border-left-color: @bg;
  }
  &:after {
    border-left-color: @border;
  } 
  &:hover {
    background-color: @bg-hover;
    &:before {
      border-left-color: @bg-hover;
    }
  }
}

.breadcrumb-item:not(:last-child) {
	padding-left: @breadcrumb-padding;
	padding-right: @breadcrumb-padding - @breadcrumb-arrow-width;
	.relative;
  .border-light;
  .border-r-0;
	&:after,
	&:before {
		// #transition(@btn-transition);
		content: '' !important;
		display: block;
		position: absolute;
		top: -1px;
		width: 0;
		height: 0;
		padding:0;
  }

	&:before 			    { z-index: 3; right: -@breadcrumb-arrow-width + 1px; .arrow(@breadcrumb-arrow-width, @h-input, #FFF); }
	&:after 				  { z-index: 2; right: -@breadcrumb-arrow-width; .arrow(@breadcrumb-arrow-width, @h-input, @color-muted);}
	&:first-child 		{ border-radius: 50px 0 0 50px; }
	&:last-child 		  { padding-right: @breadcrumb-padding; border-radius: 0 50px 50px 0; }
	&:focus 				  { box-shadow: none !important; }
	// &:hover           { background-color: @breadcrumb-item-hover-color; }
	// &:hover:before 	  { border-left-color: @breadcrumb-item-hover-color; }
}
.breadcrumb-item:last-child {
	padding-left: @breadcrumb-padding;
	padding-right: @breadcrumb-padding;
  &:before 			{ display: none; }
}

.breadcrumb-item {
  &:not(:disabled)         {.breadcrumb-item-color(#fff, @color-light, @breadcrumb-item-hover-color); }
  &:disabled               {.breadcrumb-item-color(@color-background, @color-light, @color-background); opacity: 1 !important;  }
  &.visited:not(:disabled) {.breadcrumb-item-color(mix(@color-primary, #FFF, 25%), mix(@color-primary, @color-light, 25%), mix(@color-primary, #FFF, 30%)); }
}

[data-ui='Breadcrumbs'] [data-ui='Icon'] { 
  vertical-align: sub;
}
