@import (reference) "../../../styles/utilities.less";  

.tooltip-sizes() {
  @xs: 60px;
  @sm: 100px;
  @md: 200px;
  @lg: 300px;
  @xl: 400px;
}

.tooltip-width(@size) {
  width: .tooltip-sizes[@@size];
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -o-max-content;
  width: -ms-max-content;
  max-width: .tooltip-sizes[@@size];
}


[tooltip] {
  .relative;
  
  &:before {
    content: "";
    .absolute;
    .border;
    .border-solid;
    .opacity-0;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px 6px 0 6px;
    border-color: @color-body transparent transparent transparent;
    z-index: 100;
  }
  &:after {
    content: attr(tooltip);
    .absolute;
    .bg-body;
    .text-center;
    .font-body;
    .font-body;
    .font-light;
    .text-white;
    .text-base;
    .not-italic;
    .no-underline;
    .opacity-0;
    .tooltip-width(xl);
    left:50%;
    top:-6px;
    transform: translateX(-50%) translateY(-100%);
    padding: 5px 10px;
    border-radius: 2px;
    pointer-events: none;
  }
}
[tooltip=""] {
  &:before,
  &:after {
    .hidden;
  }
}


[tooltip-position='top'] {
  &::before{
    left:50%;
  }
  &::after{
    left:50%;
  }
}

[tooltip-position='right'] {
  &::before {
    left:100%;
    top:50%;
    margin-left:1px;
    transform:translatey(-50%) rotate(90deg)
  }
  &::after {
    .ml-1;
    left:100%;
    top:50%;
    transform: translateX(0%)   translateY(-50%);
  }
}

[tooltip-position='bottom'] {
  &::before{
    .mt-1;
    top:100%;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)
  }
  &::after{
    .mt-1;
    top:100%;
    transform: translateX(-50%) translateY(0%);
  }
}

[tooltip-position='left'] {
  &::before{
    .left-0;
    top:50%;
    margin-left:-12px;
    transform:translatey(-50%) rotate(-90deg) 
  }
  &::after{
    .-ml-1;
    .left-0;
    top:50%;
    transform: translateX(-100%)   translateY(-50%);
  }
}

[tooltip-position='bottom-left'] {
  &::before{
    margin-top: 9px;
    top: 100%;
    transform: translateX(-200%)  translateY(-100%) rotate(-180deg);
  }
  &::after{
    .right-0;
    .mt-1;
    .text-right;
    top:100%;
    transform: translateX(-100%) translateY(0);
  }
}


[tooltip-size='xs']::after { .tooltip-width(xs); }
[tooltip-size='sm']::after { .tooltip-width(sm); }
[tooltip-size='md']::after { .tooltip-width(md); }
[tooltip-size='lg']::after { .tooltip-width(lg); }
[tooltip-size='xl']::after { .tooltip-width(xl); }

[tooltip]:hover::after,
[tooltip]:hover::before {
  .opacity-1;
}

