@import (reference) "../../../styles/mixins.less";

@input-label-padding: 8px;
@input-symbol-size: 24px;
@input-symbol-offset-y: -2px;
@radio-circle-padding: 4px;
@checkbox-checkmark-size: 14px;

.custom-control {
	.inline-flex;
  .items-center;
  .font-body;
  .text-body;
  .text-base;
    
  /* disabled  */
  .custom-control-input:disabled ~ .custom-control-label {
    .text-muted;
    .cursor-not-allowed;
  }

  /* active */
  .custom-control-input:active ~ .custom-control-label:before {
    .border-primary;
  }
}

.custom-control-label {
  .custom-control-left & {
    padding-left: @input-symbol-size + @input-label-padding;
    &:before {
      .left-0;
    }
  }
  .custom-control-right & {
    padding-right: @input-symbol-size + @input-label-padding;
    &:before {
      .right-0;
    }
  }
}

.custom-control-input {
  .w-0;
  .h-0;
  .hidden;
}

.custom-control-label {
  .inline-flex;
  .cursor-pointer;
  .select-none;
  .relative;
  padding-top: -1 * @input-symbol-offset-y;
  &::before {
    .block;
    .bg-white;
    .border;
    .border-solid;
    .border-muted;
    .absolute;
    .border-box;
    width: @input-symbol-size;
    min-width: @input-symbol-size;
    height: @input-symbol-size;
    content: "";
    .top-0;
  }
  &::after {
    content: "";
    .hidden;
    .absolute;
    .border-box;
  }
}


// -------------------------------------------------------- custom radio
.custom-radio {
  min-height: @input-symbol-size;

  /* large (background) circle */
  .custom-control-label:before {
    .rounded-full;
  }

  /* small (active) circle */
  .custom-control-input:checked ~ .custom-control-label:after {
    .block;
    .bg-primary;
    .rounded-full;
    width: (@input-symbol-size - 2px - 2 * @radio-circle-padding);
    height: (@input-symbol-size - 2px - 2 * @radio-circle-padding);
    top: (1px + @radio-circle-padding );
  }

  /* circle horizontal placement */
  &.custom-control-left .custom-control-input:checked ~ .custom-control-label:after {
    left: (1px +  @radio-circle-padding);
  }

  &.custom-control-right .custom-control-input:checked ~ .custom-control-label:after {
    right: (1px +  @radio-circle-padding);
  }

  /* disabled  */
  .custom-control-input:disabled ~ .custom-control-label {
    &:before {
      .bg-background;
    }
    &:after {
      .bg-primary;
    }
  }
}

// -------------------------------------------------------- custom checkbox

/* generate the checkmark symbol for the active state */
.checkmark-symbol(@color) {
  background-image: %(~'url("data:image/svg+xml;charset=utf8,%s%s%s")', "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 12'%3E%3Cpath fill='", replace("@{color}", "#", "%23"), "' d='M5.83587 12L0 7.71429L1.75076 5.42857L5.25228 8L11.3799 0L13.7143 1.71429L5.83587 12Z'/%3E%3C/svg%3E");
}

.custom-checkbox {
  min-height: @input-symbol-size;
  
  /* un-checked */
  .custom-control-label:before {
    border-radius: 2px;
  }

  /* checked  */
  .custom-control-input:checked ~ .custom-control-label:before {
    .checkmark-symbol(#FFF);
    .bg-primary;
    .border-primary;
    background-size: @checkbox-checkmark-size @checkbox-checkmark-size;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* disabled  */
  .custom-control-input:disabled ~ .custom-control-label:before {
    .bg-background;
  }
  /* disabled + active */
  .custom-control-input:checked:disabled ~ .custom-control-label:before {
    .bg-background;
    .checkmark-symbol(@color-muted);
    .border-light;
  }
}
