@import (reference) "../../../styles/utilities.less";
@import (reference) "../../../styles/mixins.less";
@import "./_custom-control.less";

.form-control {
  .block;
  .h-input;
  .text-input;
  .bg-white;
  .rounded;
  .border;
  .border-solid;
  .border-light;
  .px-input;
  .w-full;
  .font-normal;
  .font-body;
  .text-input;
  .no-outline;
  .border-box;

  &:disabled {
    .bg-transparent;
    .text-muted;
    .cursor-not-allowed;
  }
  &:focus,
  &:active {
    .border-primary;
  }
}
textarea.form-control {
  .py-input;
  .h-auto;
  .leading-normal;
}



.is-invalid {
  &:not(:active):not(:focus) {
    &, &:hover  {
      .border-danger;
    }
  }
}

.label {
  .font-body;
  .text-body;
  .text-h6;
  .block;
}

.form-group {
  .label {
    .uppercase;
    .tracking-wider;
    margin-bottom: 3px;
  }
}

.non-resizable {
  .resize-none;
}
.invalid-feedback {
  .hidden;
  .text-base;
  .font-body;
  .text-danger;
  margin-top: 5px;
  .form-control.is-invalid ~ & {
    .block;
  }
}

.placeholder(@color) {
  &::-webkit-input-placeholder  { color: @color; }
  &::-moz-placeholder           { color: @color; }
  &:-ms-input-placeholder       { color: @color; }
  &:-moz-placeholder            { color: @color; }
}

.form-control-compact() {
  .h-input-compact;
  .leading-input-compact;
  .px-input-compact;
  textarea& {
    .py-input-compact;
    .h-auto;    
  }
}

