@import (reference) "../../src/components/core/Dropdown/Dropdown.less";

[data-key='Dropdown1'] {
  width: 120px;
  .dropdown-compact();
}
[data-key='Dropdown2'] {
  width: 120px;
  margin-left: 500px;
}