@import (reference) "../../../styles/utilities.less";
@import (reference) "../../../styles/mixins.less";
@import (reference) "../Icon/Icon.less";

.alert { 
  .p-2; .border;.rounded;	.border-solid; .bg-white; .font-light; .text-input;

  &.alert-default { .border-muted; }
  &.alert-warning { .border-warning; }
  &.alert-success { .border-primary; }
  &.alert-danger 	{ .border-danger; }
  &.alert-info 		{ .border-muted; }

  &.alert-dismissible {
    .relative;
    padding-right: @spacer-2 * 3;
  }

  .alert-close {
    .absolute;
    .py-2;
    .px-2;
    .font-light; 
    .top-0;
    .right-0;
  } 

  .alert-heading-default { .text-body; }
  .alert-heading-warning { .text-warning; }
  .alert-heading-success { .text-primary; }
  .alert-heading-danger  { .text-danger; }
  .alert-heading-info    { .text-body; }
}

.alert-heading {
  .font-body;
  .text-body;
  .text-base;
  .alert & {
    .block;
    .mb-1;
  }
  .alert-fixed & {
    .font-medium;
    .inline;
    &:after {
      content: ' ';
    }
  }
}  
.alert-body {
  .font-body;
  .text-body;
  .text-base;
  .alert-fixed & {
    .inline;
  }
}
.alert-close {
  .bg-transparent; 
  .border-0;
  .cursor-pointer;
  .no-outline; 
}

.alert-fixed {
  .relative;
  .p-3;
  .text-input;
  .font-light;
  // .top-0;
  // .left-0;
  // .right-0;
  padding-right: @spacer-3 * 3;

  &.alert-default { .bg-muted; .svg-color(@color-primary); }
  &.alert-warning { .bg-warning; }
  &.alert-success {
    .bg-primary; 
    .svg-color(#fff);

    .alert-heading,
    .alert-heading *,
    .alert-body,
    .alert-body * {
      .text-white; 
    }
  }
  &.alert-danger 	{
    .bg-danger; 
    .svg-color(#fff);

    .alert-heading,
    .alert-heading *,
    .alert-body,
    .alert-body * {
      .text-white; 
    }
  }
  &.alert-info 		{ .bg-muted; .svg-color(@color-primary); }

  .alert-close {
    .px-3;
    .py-2;    
    .absolute;
    .font-light; 
    .right-0;
    top: 5px;
  }



}
