@import (reference) "../../../styles/utilities.less";

.switch-size(@width, @height, @border, @spacing) {
	min-height: @height;
	.switch-indicator {
		width: @width;
		height: @height;
		border-radius: @width;
		cursor: pointer;
		&:after {
			width: (@height - 2 * @border);
			height: (@height - 2 * @border);
			top: @border;
			border-radius: @height;
			left: @border;
		}
	}
	input {
		.w-0;
		.h-0;
		.hidden;
	}
	&.switch-left {
		padding-left: @width;
		input { .left-0;}
		.switch-label { padding-left: @spacing; }
	}
	&.switch-right {
		padding-right: @width;
		input { .right-0; }
		.switch-label { padding-right: @spacing; }
	}
	input:checked + .switch-indicator:after {
		left: @width - @height + @border;
	}
}

.switch {
	.switch-size(42px, 24px, 2px, 7px);
	.relative;
	.cursor-pointer;
	.select-none;
	.align-top;
	.inline-flex;
	.items-center;

	input { 
		.absolute;
		.block;
		.top-0;
		.cursor-pointer;
		z-index: 2;
		opacity: 0;

		&:checked + .switch-indicator {
			.bg-primary;
		}
		&:disabled {
			.cursor-not-allowed;
			& ~ .switch-indicator {
				.cursor-not-allowed;
				.bg-background;
				&:before, &:after {
					.cursor-not-allowed;
				}
			}
			& ~ .switch-label {
				.cursor-not-allowed;
				.text-muted;
			}
		}
	}
	&.switch-left .switch-indicator  { .left-0; }
	&.switch-right .switch-indicator { .right-0; }
	.switch-indicator { 
		.block;
		.bg-muted;
		.absolute;
		.top-0;
		transition: background-color 0.1s linear;

		&:after {
			.block;
			.cursor-pointer;
			content: ' ';
			.absolute;
			.bg-white;
			transition: all 0.1s ease-in-out;
		}
	}
	.switch-label {
		.font-body;
		.text-body;
		.text-base;
		.align-middle;
		.cursor-pointer;
	}

}
